/* * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * */
/*                                   */
/*   Beginning of the style sheet    */
/*      Samanta Hida 10/03/2004      */
/*                                   */
/* * * * * * * * * * * * * * * * * * */


/*
	Portal Title style
*/
.TitlePortal {
	font-family: ITC Officina Serif Book, Verdana, Arial, Helvetica, sans-serif;
	font-size: 21;
	font-style: bold;
	color: #0092DD;
	text-align: right;
}

/*
	Portal Subtitle style
*/
.SubtitPortal {
	font-family: ITC Officina Serif Book, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18;
	font-style: bold;
	color: #999999;
	text-align: right;
}

/* ******************
	Aba Styles 
******************* */

.aba {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
    color: #000000;
}
.aba_off {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
    color: #000000;
}
.aba_dis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
    color: #000000;
}
.aba_off_dis {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold; 
    color: #000000;
}

/* *********************
	Background colors 
********************** */

/* cinza escuro */
.Backg1{
	  background-color: #CCCCCC;
}

/* cinza medio */
.Backg2{
	  background-color: #EAEAEA;
}

/* cinza claro */
.Backg3{
	  background-color: #F5F5F5;
}

/* azul royal */
.Backg4{
	  background-color: #0092DD;
}

/* outro cinza */
.Backg5{
	  background-color: #F7F7F7;
}


/* ****************
	BOTON Styles
***************** */

.BotonC {
	text-align: center;
}


/* ********************
	CALENDAR Styles
********************* */

#MesA {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	color:#526D84;
	background-color:#CED7E7;
}

#Sem  {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;font-face:Arial;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#526D84;
}

#DiaOFF {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
	color:black;
	background-color:white;
}

#DiaON {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
	color:white;
	background-color:#292084;
}

#FinSem {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;	
	text-decoration:none;
	color:black;
	background-color:white;
}

#Fest {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
	background-color:red;
}


/* ****************
	COMBO Styles
***************** */

/* Combo with gray background */
.ComboF {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
}

/* Combo with gray background */
.Combo1F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 300pt;
}

/* Combo with gray background */
.Combo2F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 250pt;
}

/* Combo with gray background */
.Combo3F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 200pt;
}

/* Combo with gray background */
.Combo4F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 150pt;
}

/* Combo with gray background */
.Combo5F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 100pt;
}

/* Combo with gray background */
.Combo6F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 110pt;
}

/* Combo with gray background */
.Combo7F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
	  width: 420pt;
}




/* ******************
	LABEL Styles
******************* */

/* LABEL, light gray background, small black font, bold, left */
#LabelL1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight:bold;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}


/* *******************
	RADIOB Styles
******************** */

/* RADIOB, light gray background, black font, left */
.RadiobL1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}

/* RADIOB, light gray background, black font, left */
.RadiobL2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #FFFFFF;
}

/* ****************
	TEXT Styles
***************** */

/* Combo with gray background */
#Text1F {
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #000000;
	  background-color: #EAEAEA;
	  border: 1px solid #000000;
}

/* *****************
	LINK Styles
******************** */

/* LINK, light gray background, black font, center */
LinkC1:link, LinkC1:visited, LinkC1:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #F5F5F5;
}

LinkC1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
    text-decoration: underline;
	background-color: #F5F5F5;
}

/* LINK, light gray background, black font, left */
LinkL1:link, LinkL1:visited, LinkL1:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}

/* LINK, light gray background, black font, left */
LinkL1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
    text-decoration: underline;
	background-color: #F5F5F5;
}

/* LINK, light gray background, black font, right */
LinkR1:link, LinkR1:visited, LinkR1:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #F5F5F5;
}

/* LINK, light gray background, black font, right */
LinkR1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
    text-decoration: underline;
	background-color: #F5F5F5;
}

/* ****************************
	TABLES / TABLAS Styles
***************************** */

.BorderTable1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000; 
	background-color: #F5F5F5;
	border: 1px solid #000000;
}

.BorderTable2 {
	color: #000000; 
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.BorderTable3 {
	color: #000000; 
	background-color: #F5F5F5;
	border: 1px solid #0092DD;
}

/* TABLE Title, blue background, white font, bold, center */
.TableTitleC1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #0092DD;
}

/* TABLE Title, blue background, white font, bold, left */
.TableTitleL1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-align: left;
	background-color: #0092DD;
}

/* TABLE Title, blue background, white font, bold, right */
.TableTitleR1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-align: right;
	background-color: #0092DD;
}

/* TABLE Title, gray background, black font, bold, center */
.TableTitleC2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold; 
	color: #000000;
	text-align: center;
	background-color: #CCCCCC;
}

/* TABLE Title, gray background, black font, bold, left */
.TableTitleL2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold; 
	color: #000000;
	text-align: left;
	background-color: #CCCCCC;
}

/* TABLE Title, gray background, black font, bold, right */
.TableTitleR2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:bold; 
	color: #000000;
	text-align: right;
	background-color: #CCCCCC;
}

/* TABLE Title, light gray background, black font, center */
.TableTitleC3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #F5F5F5;
}

/* TABLE Title, light gray background, black font, left */
.TableTitleL3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}

/* TABLE Title, light gray background, black font, right */
.TableTitleR3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #F5F5F5;
}


/* TABLE Title, gray background, black font, center */
.TableTitleC4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #CCCCCC;
}

/* TABLE Title, gray background, black font, left */
.TableTitleL4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #CCCCCC;
}

/* TABLE Title, gray background, black font, right */
.TableTitleR4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #CCCCCC;
}


/* TABLE Cell, light gray background, black font, center */
.TableCellC1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color=#F5F5F5;
}

/* TABLE Cell,light gray background, black font, left */
.TableCellL1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}

/* TABLE Cell, light gray background, black font, right */
.TableCellR1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #F5F5F5;
}

/* TABLE Cell, light gray background, black font, bold, center */
.TableCellC2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-align: center;
	background-color: #F5F5F5;
}

/* TABLE Cell,light gray background, black font, bold, left */
.TableCellL2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-align: left;
	background-color: #F5F5F5;
}

/* TABLE Cell, light gray background, black font, bold, right */
.TableCellR2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000000;
	text-align: right;
	background-color: #F5F5F5;
}

/* TABLE Cell, gray background, black font, center */
.TableCellC3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	background-color: #CCCCCC;
}

/* TABLE Cell, gray background, black font, left */
.TableCellL3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	background-color: #CCCCCC;
}

/* TABLE Cell, gray background, black font, right */
.TableCellR3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	background-color: #CCCCCC;
}

/* TABLE Cell, black font, center */
.TableCellC4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
}

/* TABLE Cell, black font, left */
.TableCellL4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
}

/* TABLE Cell, black font, right */
.TableCellR4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
}



/* * * * * * * * * * */
/*                   */
/*  Style Sheet End  */
/*                   */
/* * * * * * * * * * */



