
/* page size information */
.pg{position:absolute;top:0px;left:0px;height:900px;width: 820px;}
/* some global information */
BODY{font-family:Courier New,Courier,Mono; font-size: FONT_SIZEpx; color: Black; background-color: White;}
 #R {position:absolute; z-index:10;}
.ft1{ font-family: Courier New,Courier,Serif; font-size: 10.0pt; font-style: Normal; font-weight: Bold;color: #000000;position:absolute;z-index:4;}
.ft2{ font-family: Arial; font-size: 10.0pt; font-style: Normal; font-weight: Bold;color: #000000;position:absolute;z-index:4;}
.ft3{ font-family: Courier New,Courier,Serif; font-size: 8.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft4{ font-family: Courier New,Courier,Serif; font-size: 10.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft5{ font-family: Arial; font-size: 6.0pt; font-style: Italic; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft6{ font-family: Arial; font-size: 10.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft7{ font-family: Arial; font-size: 8.0pt; font-style: Normal; font-weight: Bold;color: #000000;position:absolute;z-index:4;}
.ft8{ font-family: Microsoft Sans Serif; font-size: 6.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft9{ font-family: Arial; font-size: 8.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft10{ font-family: BarCode, Arial; font-size: 10.0pt; font-style: Normal; font-weight: Normal;color: #000000;position:absolute;z-index:4;}
.ft11{ font-family: Microsoft Sans Serif; font-size: 6.0pt; font-style: Normal; font-weight: Normal;color: #FFFFFF;position:absolute;z-index:4;}
.ft12{ font-family: Microsoft Sans Serif; font-size: 6.0pt; font-style: Normal; font-weight: Bold;color: #000000;position:absolute;z-index:4;}
