/*
****************************************************************************
   - ESTILOS GERAIS - ESTILOS GERAIS - ESTILOS GERAIS - ESTILOS GERAIS - 
****************************************************************************
*/

html {
    height:100%;
    max-height:100%;
    padding:0;
    margin:0;
    border:0;
    font-family:Tahoma,Arial;
    font-size:12px;
}
body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	scrollbar-face-color:#006bcd;
	scrollbar-highlight-color:#006bcd;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-shadow-color:#006bcd;
	scrollbar-arrow-color:#ffffff;
	scrollbar-track-color:#ffffff;
    margin: 0px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    height:100%;
    max-height:100%;
    padding:0;
    border:0;
}
img {border:none}
td
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

th
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	}

#seguranca_topo
    {
    color:#aaa9a9;
    font-weight:bold;
    text-align:center;
    vertical-align:absmiddle;
    }

#seguranca_rodape 
    {
    color:#aaa9a9;
    font-weight:bold;
    text-align:left;
    padding:0 0 0 20px;
    }

#seguranca_mensagem 
    {
    color:#aaa9a9;
    text-align:left;
    padding:0 10px 0 20px;
    }

.text_simple_black
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
	
.text_simple_blue
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006699;
	}

.radio, .checkbox {
	background: inherit;
	border: 0px;
    width: 20px;
	}

.data {
	width: 70px;
	}

.sessaoTitulo
	{
	font-size:11px;
	color: #dadada;
	font-weight:bold;
	}

.sessaoOperacoes
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	}

	
/*
****************************************************************************
                   - ESTILOS PARA ELEMENTOS DE FORMULARIOS - 
****************************************************************************
*/

SELECT
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1865C5;
	/*
	background-color: #1865C5;
	background-color: #ededed;
	*/
	background-color: #ffffff;
	}

input
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006699;
	background-color: #ffffff;
	border: 1px solid #000000;
	text-indent: 3px;
	}

input[type="radio"]
	{
	background: inherit;
	border: 0px;
	}

.selectMultiplo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #ededed;
	color: #000000;
	}

/*
****************************************************************************
						   - ESTILOS PARA CABECALHO -
****************************************************************************
*/

.hdr_big_subtitulo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #4F4F4F;
	font-weight: bold;
	}
	
.hdr_sml_subtitulo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4F4F4F;
	font-weight: bold;
	}
	
/*
****************************************************************************
						   - ESTILOS PARA MENU -
****************************************************************************
*/

.menu_texto
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00569f;
	}

/*
****************************************************************************
  					      - ESTILOS PARA BARRA FIXA -
****************************************************************************
*/

.bfixa_texto_blue
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00569f;
	}

.bfixa_texto_black
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	}

/*
****************************************************************************
                           - ESTILOS PARA BARRA URA -
****************************************************************************
*/

.bura_texto
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #00569f;
	}

.bura_telefone
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	}
/*
****************************************************************************
                        - ESTILOS GERAIS DE TABELA -
****************************************************************************
*/

.tbl_titulo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	background-color:#006bcd;
	line-height: 14px;
	text-indent: 3px;
	/* background-image:url(/FrontOfficeWeb/resources/images/bcliente_bg.gif); */
	}
    
.tbl_tituloBG
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	background-color:#006bcd;
	line-height: 14px;
	text-indent: 3px;
	background-image:url(/FrontOfficeWeb/resources/images/bcliente_bg.gif);
	}
	
.tbl_bgBlue
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: solid 1px #adadad;
	background-color:#e3ecf4;
	color:#000000;
	}

.tbl_bgGray
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	border: solid 1px #adadad;
	background-color:#ededed;
	}


/*
****************************************************************************
               - ESTILOS PARA TABELAS COM DADOS DINAMICOS -
****************************************************************************
*/

.tblDinamica
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color:#ffffff;	
	}
	
.tblDinamica_titulo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	background-color:#545454;
	line-height: 19px;
	text-indent: 3px;
	}
	
.tblDinamica_linhaimpar
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	background-color:#ffffff;
	line-height: 19px;
	text-indent: 3px;
	}
	
.tblDinamica_linhapar
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	background-color:#f5f5f5;
	line-height: 19px;
	text-indent: 3px;
	}
	
.tblDinamica_linhaOver
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	background-color:#e3ecf4;
	line-height: 19px;
	text-indent: 3px;
	}
	
.tblDinamica_linhaSelected
	{		
	background-color:#A7CBD7;	
	}
	
/*
****************************************************************************
                - ESTILOS PARA TABELAS COM DADOS ESTATICOS - 
****************************************************************************
*/

.tblEstatica_campoNome
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	font-weight:bold;
	vertical-align: top;
	padding-left: 4px;
	}
	
.tblEstatica_campoValor
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	vertical-align: top;
	padding-left: 4px;
	}

.tblEstatica_linhaimpar
	{
	background-color:#ffffff;
	}
	
.tblEstatica_linhapar
	{
	background-color:#ecf1f3;
	}

.tblEstatica_titulo
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#ffffff;
	background-color:#545454;
	line-height: 19px;
	text-indent: 3px;
	}
	
.tblEstatica_txtOver
	{
	padding-left: 2px;
	color: #006bcd;
	}



/*
****************************************************************************
                            - ESTILOS PARA ABAS - 
****************************************************************************
*/

.abaUnselected
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	text-align: center;
	}
	
.abaUnselected a:link
	{
	text-decoration: none;	
	color:#000000;
	}
	
.abaUnselected a:visited
	{
	text-decoration: none;	
	color:#000000;
	}

.abaUnselected a:hover
	{
	text-decoration: underline;	
	color:#000000;
	}
	
 
    .abaSelected
     {
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 11px;
     color:#ffffff;
     text-align: center;
     text-decoration: none; 
     }
    .abaSelected a:link
     {
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 11px;
     color:#ffffff;
     text-align: center;
     text-decoration: none; 
     }
    .abaSelected a:visited
     {
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 11px;
     color:#ffffff;
     text-align: center;
     text-decoration: none; 
     }
    .abaSelected a:hover
     {
     font-family: Tahoma, Arial, Helvetica, sans-serif;
     font-size: 11px;
     color:#ffffff;
     text-align: center;
     text-decoration: none; 
     }

	
.abatexto
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	vertical-align:top;
	}
	
/*
****************************************************************************
                             - ESTILOS PARA BOTOES - 
****************************************************************************
*/

.btTemplate
	{
	height: 10px;
	cursor:pointer;
	background-color: #1969CC;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#FFFFFF;
	}

.btTemplateDesabilitado
	{
	height: 10px;
	cursor: default;
	background-color: #6a6a6a;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#808080;
	}
	
.btYellow
	{
	height: 10px;
	cursor:pointer;
	background-color: #f7ec00;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#000000;
	}

.btRed
	{
	height: 10px;
	cursor:pointer;
	background-color: #e83a3a;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#FFFFFF;
	}

.btGray
	{
	height: 10px;
    cursor: default;
	background-color: #bababa;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:#000000;
	}


/*****************************************************************************
                           - ESTILOS PARA TABELAS - 
*****************************************************************************/
td.rowColummTabela {
    font-family: Tahoma, Arial;
    font-size: 11px;
	line-height:20px;
    font-weight: 400;
    color: #000000;
}

tr.rowTabelaZebradoOn {
    font-family: Tahoma, Arial;
    font-size: 11px;
	line-height:20px;
    font-weight: 400;
    background-color: #f5f5f1;
}

tr.rowTabelaZebradoOff {
    font-family: Tahoma, Arial;
    font-size: 11px;
	line-height:20px;
    font-weight: 400;
    background-color: white;
}
tr.rowTabelaAlertaAlto {
    font-family:Tahoma, Arial;
    font-size:11px;
    font-weight:400;
    background-color:#f78b8b;
}
tr.rowTabelaAlertaMedio {
    font-family:Tahoma, Arial;
    font-size:11px;
    font-weight:400;
    background-color:#f5c287;
}
tr.rowTabelaAlertaBaixo {
    font-family:Tahoma, Arial;
    font-size:11px;
    font-weight:400;
    background-color:#fff1a9;
}
tr.rowTabelaAlertaAltoHover td, tr.rowTabelaAlertaMedioHover td, tr.rowTabelaAlertaBaixoHover td {
    border:#D4D7DE 1px solid;
    height:25px;
    color:#000000;
    vertical-align:middle;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}
tr.rowTabelaAlertaAltoHover td {background-color:#ef4c4c;}
tr.rowTabelaAlertaMedioHover td {background-color:#eb9447;}
tr.rowTabelaAlertaBaixoHover td {background-color:#ffe470;}
div.holderTabela div.headerTabela table {
    border-collapse: collapse;
}
div.holderTabela div.headerTabela table tr {
    height: 25px;
}
div.holderTabela div.headerTabela table tr TD.normal {
    border: #D4D7DE 1px solid;
    background-color: #545454;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    font-family: Tahoma, Arial;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}
div.holderTabela {
	display:block;
}
td.holderTabela {
  border: #D4D7DE 1px solid;
  //background-color: #EAEDF1;
  background-color: #545454;
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;

  font-family: Tahoma, Arial;
  font-size: 10px;
  font-weight: bold;
  //color: #05237B;
  color: #ffffff;

}

td.holderTabelaRight {
  border: #D4D7DE 1px solid;
  //background-color: #EAEDF1;
  background-color: #545454;
  padding-left: 0px;
  padding-right: 35px;
  text-align: center;
  vertical-align: middle;

  font-family: Tahoma, Arial;
  font-size: 10px;
  font-weight: bold;
  //color: #05237B;
  color: #ffffff;

}

td.holderTabelaLeft {
  border: #D4D7DE 1px solid;
  //background-color: #EAEDF1;
  background-color: #545454;
  padding-left: 35px;
  padding-right: 0px;
  text-align: center;
  vertical-align: middle;

  font-family: Tahoma, Arial;
  font-size: 10px;
  font-weight: bold;
  //color: #05237B;
  color: #ffffff;

}

td.textoTabela {
  font-family: Tahoma, Arial;
  font-size: 10px;
  font-weight: bold;
  //color: #05237B;
  color: #ffffff;

}

div.holderTabela div.headerTabela table tr TD.hover {
  border: #D4D7DE 1px solid;
  background-color: #545454;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;

  font-family: Tahoma, Arial;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;

  cursor:pointer;
}

div.holderTabela div.headerTabela table tr td .setaAbaixo {
    overflow: hidden;
    width: 10px;
    height: 10px;
    background-image: url( '/FrontOfficeWeb/resources/images/setaBaixo.gif' );
}

div.holderTabela div.headerTabela table tr td .setaAcima {
    overflow: hidden;
    width: 10px;
    height: 10px;
    background-image: url( '/FrontOfficeWeb/resources/images/setaCima.gif' );
}

div.holderTabela div.corpoTabela {
  position: relative;
  background-color: #F7F9FA;
  left: 0px;
  top: -1px;
}

div.holderTabela div.corpoTabela table {
    border-collapse: collapse;
}

div.holderTabela div.corpoTabela table.selecionavel tr td {
  border: #D4D7DE 1px solid;
  height: 25px;
  color: #000000;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  cursor:pointer;
}

div.holderTabela div.corpoTabela table tr.selecionavelHover td {
  //background-color: #E8ECF0;
  background-color: #D9E8F0;
  border: #D4D7DE 1px solid;
  height: 25px;
  color: #000000;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  cursor:pointer;
}


/*****************************************************************************
                           - ESTILOS PARA MENU - 
*****************************************************************************/
SPAN.menuItemHolder {
  background-color: #EAEDF1;
  border-bottom: #05237B 1px solid;
  border-left: #05237B 1px solid;
  border-right: #05237B 1px solid;
  border-top: #05237B 1px solid;
  color: #05237B;
  font-family: Verdana;
  font-size: 9pt;
  left: 250px;
  overflow: visible;
  position: absolute;
  top: 250px;
  width: 100px;
  z-index: 9;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=115,strength=5);  
}

SPAN.menuItemHolder TABLE {
  width: 100%;
}

SPAN.menuItemHolder TD.menu {
  background-position: right center;
  background-repeat: no-repeat;
  border: #EAEDF1 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  width : 100%;

}

SPAN.menuItemHolder TD.menuHover {
  background-color: #C9CFD5;
  background-position: right center;
  background-repeat: no-repeat;
  border: #C9CFD5 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  width : 100%;

}

SPAN.menuItemHolder TD.menuItem {
  border: #EAEDF1 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  width : 100%;
}

SPAN.menuItemHolder :link {
  border: #EAEDF1 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  text-decoration: none;
  width : 100%;
}

SPAN.menuItemHolder :visited {
  border: #EAEDF1 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  text-decoration: none;
  width : 100%;
}

SPAN.menuItemHolder :active {
  border: #EAEDF1 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  text-decoration: none;
  width : 100%;
}

SPAN.menuItemHolder :hover {
  background-color: #C9CFD5;
  border: #C9CFD5 1px solid;
  color: #05237B;
  cursor:pointer;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
  text-decoration: none;
  width : 100%;
}

SPAN.menuItemHolder TD.separator {
  background-color: transparent;
  border-bottom: #05237B 1px solid;
  border-left: #EAEDF1 1px;
  border-right: #EAEDF1 1px;
  border-top: #EAEDF1 1px;
  font-size: 0px;
  height: 1px;
  overflow: hidden;
}

SPAN.menuItemHolder TD.menuItemDesabled {
  border: #003366 1px solid;
  color: #999999;
  cursor: default;
  font-size: 9pt;
  height: 15px;
  overflow: visible;
}
.button {cursor:pointer}