html, body {
    margin:0;
    padding:0;
}

#divContainer {
    width:790px;
    height:510px;
    font-family:Tahoma;
    font-size:11px;
    overflow:hidden;
}

#divContainer dt {
    font-weight:bold;
    font-size:11px;
}

#divContainer dd {
    font-weight:normal;
    font-size:11px;
}

/****************************
 * [VIVONET]
 * Tela de Atendimento - Divs
 */

#ti_divPesquisa {
    margin-top:5px;
    font-size:11px;
    background-image:url(/FrontOfficeWeb/resources/images/tinicial_pesquisa_bg.gif);
    background-repeat:no-repeat;
    padding:7px 10px 0 10px;
    float:left;
    width:528px;
    height:29px;
    display:none;
    overflow:hidden;
    white-space:nowrap;
}

#ti_divGrupoLogin {
    margin-top:5px;
    background-image:url(/FrontOfficeWeb/resources/images/tinicial_grupologin_bg.gif);
    background-repeat:no-repeat;
    padding:8px 10px 0 7px;
    float:right;
    width:255px;
    height:29px;
    display:none;
}

#ti_divURA {
    width:408px;
    height:41px;
    margin-top:2px;
    background-image:url(/FrontOfficeWeb/resources/images/tinicial_ura_bg.gif);
    font-size:11px;
    background-repeat:no-repeat;
    padding:7px 10px 0 10px;
    float:left;
    display:none;
}

#ti_divCTI {
    width:380px;
    height:41px;
    margin:2px 0 0 0;
    background-image:url(/FrontOfficeWeb/resources/images/tinicial_cti_bg.gif);
    font-size:11px;
    background-repeat:no-repeat;
    /* padding:7px 10px 0 10px; */
    display:none;
    padding:0 0 0 20px;
    float:right;
}

#ti_divCTI.#ti_divCampanha {
    width:180px;
    height:35px;
    display:none;
}

#ti_divCTI.#ti_divDisponibilidade {
    width:34px;
    height:35px;
    margin-left:14px;
    display:none;
}

#ti_divCliente {
    margin:6px 0 0 0;
    width:790px;
    height:67px;
    overflow:hidden;
}

#ti_divLupaCliente {
    width:63px;
    height:67px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_cliente.jpg) no-repeat;
    float:left;
}

#ti_divInfoCliente {
    width:724px;
    height:67px;
    margin-left:3px;
    background-color:rgb(227,236,244);
    border:1px solid rgb(173,173,173);
    overflow:hidden;
    float:right;
}

#ti_divInfoCliente.#ddClienteNome { width:330px; }

#ti_divInfoCliente.#ddClienteDocumento {
    width:115px;
}

#ti_divInfoCliente.#ddClienteNatureza {
    width:121px;
    margin-left:20px;
}

#ti_divInfoCliente.#ddClienteTelefone {
    width:115px;
    margin-left:20px;
}

#ti_divInfoCliente.#ddClienteChurn {
    width:121px;
    margin-left:20px;
}

#ti_divSegmentacao.#ddSegmentacao { width:100px; }
#ti_divCarteirizacao.#ddCarteirizacao { width:185px; }

#ti_lupaCarteirizacao {
    width:16px;
    height:20px;
    background-image:url(/FrontOfficeWeb/resources/images/bcliente_lupa_segcart.gif);
    background-repeat:no-repeat;
    margin-left:90px;
    margin-top:2px;
}

#ti_lupaSegmentacao {
    width:16px;
    height:20px;
    background-image:url(/FrontOfficeWeb/resources/images/bcliente_lupa_segcart.gif);
    background-repeat:no-repeat;
    margin-left:4px;
    margin-top:2px;
}

#ti_divInfoCliente dl {
    width:395px;
    padding:5px;
    line-height:18px;
    float:left;
}

#ti_divInfoCliente dt {
    display:inline;
    margin:0;
    font-weight:bold;
}

#ti_divInfoCliente dd {
    height:18px;
    max-height:18px;
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_infoURA { float:left;height:34px;max-height:34px;overflow:hidden;display:none; }
#ti_infoURA dl { width:240px; }

#ti_infoURA dt {
    margin:0 0 0 5px;
    line-height:15px;
    width:70px;
    float:left;
    font-weight:normal;
}

#ti_infoURA dd {
    margin:0;
    line-height:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_infoURA.#ddNrOrigem { width:110px; }
#ti_infoURA.#ddFalandoCom { width:104px; }
#ti_infoURA.#ura_nomeContato {
    width:130px;
    height:15px;
}
#ti_infoSenha.#spanClienteUsuario {
    color:#00ff00;
}
#ti_infoSenha.#spanValidacaoClienteUsuario {
    display:block;
}
#ti_divInfoLinha dl { width:270px; }

#ti_divInfoLinha dt {
    margin:0 0 0 2px;
    line-height:17px;
    float:left;
}
#ti_divInfoLinha dd {
    height:18px;
    max-height:18px;
    margin:0;
    line-height:17px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_divInfoLinha.#ddNrLinha { width:110px; }
#ti_divInfoLinha.#ddTipoLinha { width:104px; }
#ti_divInfoLinha.#ddPlanoServico { width:104px; }
#ti_divInfoLinha.#ddStatusLinha { width:105px; }

#ti_divInfoCliente.#ti_divCarteirizacaoShadow,
#ti_divInfoCliente.#ti_divSegmentacaoShadow {
    width:12.7em;
    display:block;
    background:#bfc6cd;
    border:1px solid #ddd;
    position:relative;
    float:right;
    margin:1em 0;
}

#ti_divInfoCliente.#ti_divSegmentacaoShadow {
    margin-left:7px;
    width:10px;
    margin-right:3px;
}

#ti_divInfoCliente.#ti_divCarteirizacao,
#ti_divInfoCliente.#ti_divSegmentacao {
    width:192px;
    height:45px;
    background:#fff;
    border:1px solid #949a9f;
    background-image:url(/FrontOfficeWeb/resources/images/tinicial_bgcartseg.gif);
    background-position:top left;
    position:relative;
    padding:5px;
    float:right;
    font-weight:normal;
    overflow:hidden;
}

#ti_divInfoCliente.#ti_divSegmentacao { width:108px; }

.ltin { left:-3px; }
.tpin { top:-3px; }

#ti_divLinha {
    width:277px;
    height:75px;
    margin-top:5px;
    float:left;
}

#ti_divLupaLinha {
    width:63px;
    height:75px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_linha.gif) no-repeat;
    float:left;
}

#ti_divLupaLinha.#ti_divInfoLinha {
    font-family:Tahoma;
    font-size:12px;
    width:211px;
    height:75px;
    margin-left:3px;
    background-color:rgb(241,241,241);
    border:1px solid rgb(173,173,173);
    float:right;
    overflow:hidden;
}

#ti_divUsuario {
    width:510px;
    height:46px;
    margin:5px 0 0 3px;;
    float:left;
}

#ti_divUsuario.#ti_divLupaUsuario {
    width:67px;
    height:46px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_usuario.gif) no-repeat;
    float:left;
}

#ti_divUsuario.#ti_divInfoUsuario {
    width:440px;
    height:46px;
    margin-left:3px;
    background-color:rgb(241,241,241);
    border:1px solid rgb(173,173,173);
    overflow:hidden;
    float:right;
}

#ti_divUsuario.#ti_divInfoUsuario dl,
#ti_divGestor #ti_divInfoGestor dl {
    width:440px;
    padding-left:5px;
}

#ti_divUsuario.#ti_divInfoUsuario dt,
#ti_divGestor.#ti_divInfoGestor dt {
    margin:0;
    font-weight:bold;
    display:inline;
    line-height:24px;
}

#ti_divUsuario.#ti_divInfoUsuario dd,
#ti_divGestor.#ti_divInfoGestor dd {
    height:18px;
    max-height:18px;
    padding-top:5px;
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_divUsuario.#ti_divInfoUsuario.#ddUsuarioNome { width:230px; }
#ti_divUsuario.#ti_divInfoUsuario.#ddUsuarioDocumento { width:100px; }
#ti_divUsuario.#ti_divInfoUsuario.#ddUsuarioCargo { width:230px; }

#ti_divGestor {
	width:510px;
    height:26px;
    margin:3px 0 0 3px;;
    float:left;
}

#ti_divGestor #ti_divLupaGestor {
    width:67px;
    height:26px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_gestor.gif) no-repeat;
    float:left;
}

#ti_divGestor #ti_divInfoGestor {
    width:440px;
    height:26px;
    margin-left:3px;
    background-color:rgb(241,241,241);
    border:1px solid rgb(173,173,173);
    overflow:hidden;
    float:right;
}

#ti_divGestor.#ti_divInfoGestor.#ddGestorNome { width:170px; }
#ti_divGestor.#ti_divInfoGestor.#ddGestorTelefone { width:100px; }


















#ti_divQtdeLinhas {
    overflow:hidden;
}

#ti_divQtdeLinhas dl {
    width:550px;
    padding-left:10px;
    padding-top:5px;
}

#ti_divQtdeLinhas dt {
    margin:0;
    font-weight:bold;
    display:inline;
}

#ti_divQtdeLinhas dd {
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_divQtdeLinhas.#ddQtdeLinhas { width:90px; }
#ti_divQtdeLinhas.#ddLinhasAtivas { width:80px; }
#ti_divQtdeLinhas.#ddLinhasCanceladas { width:50px; }

#ti_divQtdeLinhas {
    width:510px;
    height:26px;
    margin-top:3px;
    background-color:rgb(241,241,241);
    border:1px solid rgb(173,173,173);
}

#ti_divPrePagoFaturamento {
    margin-top:5px;
    width:345;
    height:75px;
    float:left;
}

#ti_divPrePagoFaturamento.#ti_divLupaPrePagoFaturamento {
    float:left;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento {
    float:right;
    overflow:hidden;
}

.ti_lupaPrePago {
    width:63px;
    height:75px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_prepago.jpg) no-repeat;
    float:left;
}

.ti_infoPrePago {
    width:279px;
    height:75px;
    background:url(/FrontOfficeWeb/resources/images/ti_bg_prepago.gif) no-repeat;
    float:right;
    overflow:hidden;
}

.ti_lupaFaturamento {
    width:109px;
    height:75px;
    background:url(/FrontOfficeWeb/resources/images/ti_lupa_fatura.gif) no-repeat;
    float:left;
}

.ti_infoFaturamento {
    width:233px;
    height:75px;
    background:url(/FrontOfficeWeb/resources/images/ti_bg_fatura.gif) no-repeat;
    float:right;
    overflow:hidden;
}

/* Apresentação de dados de faturamento */
#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento {
    margin-left:3px;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento dl {
    /* width:440px; */
    padding-left:5px;
    margin-top:-3px;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento dt {
    margin:0;
    font-weight:bold;
    display:inline;
    line-height:14px;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento dd {
    height:18px;
    max-height:18px;
    padding-top:5px;
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#ddFaturamentoConta { width:110px; }
#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#ddFaturamentoVencimento { width:70px; }
#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#ddFaturamentoCiclo { width:85px; }
#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#ddFaturamentoUltFatura { width:120px; }
#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#ddFaturamentoFormaPagto { width:120px; }

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#spanFaturamentoPrePagoCaller {
    width:20px;
    height:20px;
    background:url(/FrontOfficeWeb/resources/images/ti_bt_verfatura.gif) center no-repeat;
    margin-right:1px;
    float:right;
    display:block;
}

#ti_divPrePagoFaturamento.#ti_divInfoPrePagoFaturamento.#spanAlertCobranca {
    width:20px;
    height:20px;
    color:#ff0000;
    font-weight:bold;
    padding:1px 1px 0 0;
    float:right;
    display:block;
}

#ti_divEndereco {
    width:442px;
    height:75px;
    max-height:75px;
    line-height:22px;
    margin:5px 0 0 3px;
    background-color:rgb(227,236,244);
    border:1px solid rgb(173,173,173);
    float:right;
    overflow:hidden;
}

#ti_divEndereco dl {
    width:440px;
    padding:5px;
    float:left;
}

#ti_divEndereco dt {

    display:inline;
    margin:0;
    font-weight:bold;
}

#ti_divEndereco dd {
    margin:0;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display:inline;
}

#ti_divEndereco.#ddEndereco { width:365px; }

#ti_divEndereco.#ddBairro {
    width:145px;
    margin-left:22px;
}

#ti_divEndereco.#ddCidade {
    width:150px;
    margin-left:20px;
}

#ti_divEndereco.#ddEstado {
    width:145px;
    margin-left:20px;
}

#ti_divEndereco.#ddCEP {
    width:150px;
    margin-left:20px;
}

#ti_divAbas {
    width:790px;
    height:16px;
    margin:3px 0 0 0;
    /* background-color:rgb(118,181,239); */
}

#ti_divConteudoAbasTI {
    width:790px;
    margin:0;
}

#ti_divConteudoAbas {
    width:790px;
    height:170px;
    margin:0;
    border:1px solid rgb(173,173,173);
    border-top:none;
    background-color:rgb(255,255,255);
    overflow:hidden;
}

#ti_divAbasConteudo {
    width:765px;
    margin:0;
    float:left;
    display:inline;
}

#ti_divAbasResizer {
    width:24px;
    border-bottom:1px solid #ccc;
    margin:0;
    float:right;
    display:inline;
    background:url(/FrontOfficeWeb/resources/images/bt_lupa_aba.gif) no-repeat;
    cursor:pointer;
    height:16px;
}

#divSmiley {
    width:132px;
    height:43px;
    z-index:999;
    position:absolute;
    left:665px;
    top:117px;
    background-image:url(/FrontOfficeWeb/resources/images/smiley_bg.gif);
    background-repeat:no-repeat;
    overflow:hidden;
}
#divSmiley ul, #divSmiley li {
	margin:0;
    padding:0;
    display:inline;
    float:left;
}
#divSmiley ul {
	display:block;
	width:160px;
	height:41px;
	margin-left:4px;
	white-space:nowrap;
}
#divSmiley li {
	width:31px;
    height:32px;
	margin-top:3px;
	margin-right:14px;
}
#divSmiley.#smileySatisfeito {
    background-image:url(/FrontOfficeWeb/resources/images/smiley_satisfeito_pop.gif);
    cursor:pointer;
}

#divSmiley.#smileyImparcial {
    width:31px;
    height:32px;
    background-image:url(/FrontOfficeWeb/resources/images/smiley_imparcial_pop.gif);
    cursor:pointer;
}

#divSmiley.#smileyInsatisfeito {
    background-image:url(/FrontOfficeWeb/resources/images/smiley_insatisfeito_pop.gif);
    cursor:pointer;
}

/*********************************************
 * [VIVONET]
 * Tela de Atendimento - Botões e input fields
 */

#ti_botaoLimpar {
    cursor:pointer;
    border:none;
}

#ti_botaoPesquisar {
    margin-left:10px;
    cursor:pointer;
    border:none;
}

#ti_comboPesquisa {
    margin-left:10px;
    width:127px;
}

#ti_inputValorPesquisa {
    width:150px;
    margin-left:10px;
}

#ti_ti_comboGrupo {
    width:121px;
    float:left;
}

#ti_login {
    font-size:11px;
    width:92px;
    display:inline;
    color:#3e94e2;
    padding-left:15px;
    overflow:hidden;
}


#ti_barraHorizontal {
	display:block;
	width:790px;
	height:41px;
	overflow:hidden;
	margin-top:3px;
}
#ti_divProtocolo,
#ti_divSMS,
#ti_divSenha,
/*//#ti_divPortabilidade,*/
#ti_divSaltador,
#ti_divSmiley,
#ti_divTerminar {
	margin-left:2px;
	float:left;
	display:block;
	height:41px;
	overflow:hidden;
}
#ti_divProtocolo {
	margin-left:0px;
	clear:both;
	width:216px;
	background:url(/FrontOfficeWeb/resources/images/ti_bg_protocolo.gif) no-repeat;
}
	#ti_divProtocolo #nrProtocolo {
		float:left;
		margin:0;
		padding:0;
		margin-top:13px;
		text-indent:9px;
		display:block;
		vertical-align:middle;
		color:#aa2c2c;
		font-family:Tahoma,Arial;
		font-size:20px;
		white-space:nowrap;
	}
#ti_divSMS {
	width:41px;
	background:url(/FrontOfficeWeb/resources/images/ti_bg_41x41.gif) no-repeat;
	text-align:center;
	}
	#ti_divSMS img {
		margin-top:8px;
		border:0;
		cursor:pointer
	}
#ti_divSenha {
	width:146px;
	height:41px;
	background:url(/FrontOfficeWeb/resources/images/ti_bg_senha.gif) no-repeat;
	text-align:center;
	padding-top:3px;
}
	#ti_divSenha.#spanStatusSenha,
	#ti_divSenha.#spanClienteUsuario {
	    display:block;
	    height:12px;
	    max-height:12px;
	    font-weight:bold;
	    color:#aa2c2c;
	}

	#ti_divSenha.#spanClienteUsuario {
	    color:#00ff00;
	}

	#ti_divSenha.#spanValidacaoClienteUsuario {
	    display:block;
	}
#ti_divPortabilidade {
	display:block;
	overflow:hidden;
	float:left;
	padding:0;
	margin:0 0 0 2px;
	width:205px;
	height:41px;
	font-family:Tahoma
	}
	#ti_divPortabilidade  #ti_divPortabilidadeContentIcon {
		width:44px;
		height:100%;
		float:left;
		padding:4px 0 0 2px
		}
	#ti_divPortabilidade  #ti_divPortabilidadeContentInfoWrapper {
		width:156px;
		height:100%;
		position:static
		}
	#ti_divPortabilidade  #ti_divPortabilidadeContentTipo {
		font-size:11px;
		height:11px;
		margin-top:5px;
		display:block;
		position:relative;
		overflow:hidden;
		white-space:nowrap;
		width:85px
		}
	#ti_divPortabilidade  #ti_divPortabilidadeContentDescricao {
		margin-top:1px;
		height:24px;
		display:block;
		font-size:10px;
		line-height:10px;
		overflow:hidden
		}
#ti_divSaltador {
	width:41px;
	background:url(/FrontOfficeWeb/resources/images/ti_bg_41x41.gif) no-repeat;
}
#ti_divSmiley {
	width:41px;
	background:url(/FrontOfficeWeb/resources/images/ti_bg_41x41.gif) no-repeat;
}
#ti_divTerminar {
    width:87px;
	background:url(/FrontOfficeWeb/resources/images/ti_terminar_bg.gif) no-repeat;
}
div#site_fornecedor {
	position:absolute;
	left:670px;
	top:5px;
	width:119px;
	height:76px;
	overflow:hidden;
	background:url(/FrontOfficeWeb/resources/images/ti_site_fornecedor_bg.gif) #deeaf7 no-repeat;
	font-size:10px;
	font-family:Tahoma;
	margin:0;
	padding:0;
}
div#site_fornecedor span {
	width:105px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
div#site_fornecedor dl {
	margin:5px 0 0 7px;
	padding:0;
}
div#site_fornecedor dt,
div#site_fornecedor dd {
	margin:0;
	padding:0;
	line-height:10px;
}
div#site_fornecedor dd {
	font-size:10px;
	color:#3E94E2;
}