html {
	height:100%;
	scrollbar-face-color:#006bcd;
	scrollbar-highlight-color:#006bcd;
	scrollbar-3dlight-color:#eeeeee;
	scrollbar-darkshadow-color:#eeeeee;
	scrollbar-shadow-color:#006bcd;
	scrollbar-arrow-color:#eeeeee;
	scrollbar-track-color:#eeeeee;
	}
#bodyRelacionamento {
	margin:0 5px 0 5px;
	background-color:#eeeeee;
	}
.barraEscondida {
	scrollbar-face-color: #ffffff;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #ffffff;
	}
#divContainer {
	display:block;
	width:758px;
	overflow-x:hidden;
	}
#tablePesquisa {
	border:1px solid #adadad;
	background-color:#e7e7e7;
	margin:5px 0 5px 0
	}
	#tablePesquisa img {
		border:none;
		cursor:pointer;
	}
	#tablePesquisa label {
		vertical-align:top
	}
	#tablePesquisa select {
		margin-left:3px
	}
	#tablePesquisa .radio {
		vertical-align:top;
		margin:0;
		padding:0;
		width:12px;
		height:12px;
	}
#divRelacionamento {
	width:760px;
	display:block
	}
.radio {
	background:none;
	}
.accordion_toggle, .accordion_toggle_semProcessos {
	display:block;
	height:28px;
	background:url(/FrontOfficeWeb/resources/images/inativo.gif) no-repeat top left #f7f9fa;
	line-height:28px;
	color:#ffffff;
	font-weight:normal;
	text-decoration:none;
	outline:none;
	font-size:11px;
	color:#000000;
	border-bottom:1px solid #d5d5d5;
	cursor:pointer;
	margin:0;
	}
.accordion_toggle_semProcessos {
	background:url(/FrontOfficeWeb/resources/images/inativo_sem_processos.gif) no-repeat top left #f7f9fa;
	cursor:default;
	}
.accordion_toggle span {
	overflow:hidden;
	white-space:nowrap
	}
.accordion_toggle_active {
	background:url(/FrontOfficeWeb/resources/images/ativo.gif) no-repeat top left #2e7bd1;
	color:#ffffff;
	border-bottom:1px solid #5477d0;
	}
.accordion_toggle_active * {color:#ffffff}
.accordion_content {
	background-color:#fff;
	padding-left:10px;
	width:750px;
	color:#444444;
	overflow:hidden;
	}
.accordion_content h2 {
	margin:15px 0 5px 10px;
	color:#0099FF;
	}
.accordion_content p {
	line-height:150%;
	padding:5px 10px 15px 10px;
	}
.accordion_content table span {
	overflow:hidden;
	display:block;
	}
#divTableTitle table, .accordion_toggle, #vertical_container {
	width:760px;
	}
#divTableTitle table {
	background:#656565;
	height:25px;
	color:#ffffff;
	font-family:Tahoma;
	font-size:10px;
	font-weight:bold;
	line-height:20px;
	}
#divTableTitle td {
	border-right:1px solid #ffffff;
	padding-left:10px;
	}
.tableProtocolo {
	font-family:Tahoma;
	font-size:11px;
	color:#545454;
	height:27px;
	}
.tableProtocolo .numeroProtocolo {
	text-indent:30px;
	}
.tableProtocolo td {
	text-indent:5px;
	}
.tableProcesso {
	margin-top:10px;
	}
.tableProcesso tbody tr {
	background:url(/FrontOfficeWeb/resources/images/bgProcesso.gif) no-repeat;
	margin-bottom:60px;
	}
.tableProcesso tbody td {
	padding-right:10px;
	}
.tableProcesso .lineSeparator {
	background:#fff;
	font-size:1px;
	}
.tableProcesso tbody td {
	font-size:10px;
	color:#000;
	}