<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
  <system/>
  <xml fileName="app.xml" />
  <xml fileName="audit.xml"/>
  <xml fileName="business_delegate.xml"/>
  <xml fileName="cache.xml"/>
  <xml fileName="jms.xml"/>
  <xml fileName="ldap.xml"/>
  <xml fileName="remote_server.xml"/>
  <xml fileName="remote_service_exception.xml"/>
  <xml fileName="request_service_exception.xml"/>
  <xml fileName="service_gateway.xml"/>
  <xml fileName="tuxedo_service_gateway.xml"/>
  <xml fileName="sql_error_codes.xml" />
</configuration>
