#middle{float:left;width:50px;margin-top:20px;margin-right:10px }
#sideA,#sideB {float:left;width:300px;margin-right:10px }	
#sideA ol,#sideB ol{margin-top:10px}
#sideA span,#sideB span {font-weight:bold; text-align:center}
#sidea select,#sideb select {height:120px !important}
#sidea select,#sideb select {width:300px; border:1px solid #ccc !important}
select[multiple] {line-height: 10;}
.btNavegacao44 {
	font:bold 10px Verdana;
	width:50px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btNavegacaoAzul44.gif) no-repeat;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}

		