.valuecheck input,#detalhesServicos input [type=radio] {
	width: 13px !important;
	margin-right: 03px;
	border: 0px none
}

.left {
	float: left;
	width: 100px
}

.iconsolicitacao {
	margin-top: -17px;;
	margin-left: 155px
}

.ui-datepicker {
	font-size: 10px !important
}

.clear {
	clear: both;
}

.checkbox {
	border: 0px none
}

.boxline {
	float: left
}

#tablelistaServicos td {
	text-align: center
}

#pesquisarOferta,#tabelaAnaliseCreditoLinha {
	display: none
}