
.btNavegacao74 {
	font:bold 10px Verdana;
	width:74px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btNavegacaoAzul74.gif) no-repeat;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}

.btNavegacao120 {
	width:120px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btNavegacaoAzul120.gif) no-repeat;
	font:bold 10px Verdana;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
}

.btNavegacao74Inativo {
	font:bold 10px Verdana;
	width:74px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btNavegacaoAzul74Inativo.gif) no-repeat;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}

.btNavegacao120Inativo {
	width:120px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btNavegacaoAzul120Inativo.gif) no-repeat;
	font:bold 10px Verdana;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
}

.botao {height:19px;vertical-align: middle;margin-right: 10px;}
.botao label{float:left;}
.botao input{float:right;}
.botao span{float:right;}

.btOk {
	font:bold 10px Verdana;
	color:#FFFFFF;
	background:url(/catalogo/static_server/img/botoes/bgBtOk.gif) no-repeat;
	width:29px;
	height:23px;
	border:none;
	padding:0px 1px 0px 0px;
	cursor:pointer;
}

.btnMais {
	background:transparent url(/catalogo/static_server/img/botoes/btnMais.gif) no-repeat scroll 0 0;
	border: 0px solid ;
	padding: 0px;
	width: 19px;
	height: 19px;
	color: rgb(255, 255, 255);
}

.icoAlterar{
	background:url(/catalogo/static_server/img/botoes/bt-alterar.gif) no-repeat center;
}

.icoExcluir{
	background:url(/catalogo/static_server/img/botoes/bt-excluir.gif) no-repeat center;
}

.icoGrid{
	background:url(/catalogo/static_server/img/botoes/valorCarac.gif) no-repeat center;
}

.ico a div{
	background-color: transparent;
	width:16px;
	height:16px;
	cursor: hand;
}

.btExcluir {
	font:bold 10px Verdana;
	width:15px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/bt-excluir.gif) no-repeat;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}

.btNavLaranja74 {
	font:bold 10px Verdana;
	width:74px;
	height:19px;
	background:url(/catalogo/static_server/img/botoes/btLaranja.gif) no-repeat;
	color:#FFFFFF;
	border:none;
	cursor:pointer;
	padding:0px 0px 0px 0px;
}


		