.secao_conteudo {
	width: 820px;
}

.conteudo_box_top {
	height:24px;
	position:relative;
}


.conteudo_box_top_esq {
	height:24px;
	width:7px;
	position: absolute; left:0px;top:0px;
	background: url(/catalogo/static_server/img/background/box-topo-left.gif) no-repeat;
}
.conteudo_box_top_dir {
	position: absolute; right:0px;top:0px;
	height:24px;
}
.conteudo_box_top_center {
	position:relative;
	width:814px;
	height:24px;
	background:	url(/catalogo/static_server/img/background/box-topo-center.gif) repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #0364CB;
	margin-left:6px;
	padding-top:5px;
	text-transform: uppercase
}

.conteudo_box_middle {
	background: url(/catalogo/static_server/img/background/bg-box-barra.gif) repeat;
}

.conteudo_box_middle_mg {
	padding: 3px 4px 0px 4px;
}

.conteudo_box_bottom {
	position:relative;
	width:820px;
	height:10px;
	background: url(/catalogo/static_server/img/background/bg-box-bottom.gif) no-repeat;
}

.openclose img {
	cursor: pointer;
}

fieldset.content div label {
	font-weight: bold;
}

fieldset.content {
	margin: 5px 5px 0px 5px;
	padding: 0px 0px 5px 0px;
	border: 1px solid #96CDFF;
    color: #333333;
	font-weight: normal;
	clear: both;
}

fieldset.content150 {
	height: 150px
}

.fieldSelect{
	border: 1px solid #828790;
	line-height: 1.3;
    list-style: none outside none;
    text-decoration: none;
    border-style: none;
}

fieldset.content h3 {
	background-color: #EDF6FF;
	width: 100%;
	margin: 0px 0px 0px 0px;
	color: #0066CF;
    padding: 0.3em 0;
    text-indent: 0.5em;
    font-weight: normal;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    height: 25px;
}

button.acao{
	cursor: pointer;
	border: 1px solid #CCCCCC;
    color: #1C94C4;
    margin-top: 5px;
    height: 25px; 
    width: 35px;
}

.contentStepLeft{width: 39%; float: left; height: 99%;}
.contentStepRight{width: 39%; float: left; height: 99%}
.contentStepCenter{width: 20%; float: left; height: 99%; text-align: center;}
