/* REMOVER ANTES DE PUBLICA��O FINAL */
.temp {
	background-color: black;
}

/* GERAL */
BODY {
	width: 1000px;
	margin: 0; padding; 0;
	background-color: #fff;
		top repeat-x;
}

A {
	text-decoration: none;
}

DIV {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	color: #7D7D7D;
}

INPUT,SELECT {
	border: 1px solid #7D7D7D;
	color: #7D7D7D;
	font-size: 10px;
}

TEXTAREA {
	border: 1px solid #7D7D7D;
	color: #7D7D7D;
	font-size: 11px;
}

INPUT.error,SELECT.error,TEXTAREA.error {
	color: #e20000;
	border-top: 1px solid #e20000;
	border-right: 1px solid #fcacaf;
	border-bottom: 1px solid #fcacaf;
	border-left: 1px solid #e20000;
	background-color: #ffecee;
}

IMG {
	border: 0;
}

FORM {
	display: inline;
}

.clr {
	clear: both;
}

.SemBorda {
	border: 0px;
}

.hide {
	display: none;
}

.lblLogin {
	font: bold 10px Verdana;
	color: #0265CA
}

.tituloLogin {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	/*margin:20px 0px 5px 0px;*/
	color: #0265CA;
	font-weight: bold;
	padding: 18px 0px 5px 0px;
}

.erroLogin {
	font-size: 10px;
	color: #dc0000;
}

.sucessoLogin {
	font-size: 10px;
}

.cortina {
	top: 73px;
	left: 0px;
	width: 1000px;
	height: 150%;
	filter: alpha(opacity =   30);
	opacity: 0.30;
	background-color: black;
	position: absolute;
	cursor: default;
}


.cortina-login {
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 100%%;
	filter: alpha(opacity =   30);
	opacity: 0.30;
	background-color: black;
	position: absolute;
	cursor: default;
}

.higher_cortina {
	top: 73px;
	left: 0px;
	width: 1000px;
	height: 800px;
	filter: alpha(opacity =   50);
	opacity: 0.50;
	background-color: black;
	position: absolute;
	cursor: default;
}

.carregando {
	position: absolute;
}

.tabConteudoGeral {
	width: auto;
	height: 20px;
	font: 11px Verdana;
	text-decoration: none;
	text-align: left;
	color: #7C7C7C;
}

.tabConteudoGeral tr.mouseOver {
	background-color: #F3F4F7;
}

.tabConteudoGeral tr.mouseOut {
	background-color: transparent;
}

.vertical-scroll {
	overflow: auto; /* cater to the older browsers */
	overflow: -moz-scrollbars-horizontal; /* for FF */
	overflow-y: scroll; /* scroll horizontal */
	overflow-x: hidden; /* Hide vertical*/
}

.scroll-popup-apagar {
	height:230px;
	overflow: auto; /* cater to the older browsers */
	overflow: -moz-scrollbars-horizontal; /* for FF */
	overflow-y: scroll; /* scroll horizontal */
	overflow-x: hidden; /* Hide vertical*/
}

.horizontal-scroll {
	overflow: auto; /* cater to the older browsers */
	overflow: -moz-scrollbars-vertical; /* for FF */
	overflow-y: hidden; /* Hide horizontal */
	overflow-x: scroll; /* scroll vertical */
}

.both-scroll {
	overflow: auto;
}

#main {
	width: 1000px;
	background: url(/catalogo/static_server/img/background/bg_conteudo.jpg)
		left top repeat-x;
}

#header {
	position: relative;
	background: url(/catalogo/static_server/img/background/topo_bg.jpg)
		repeat-x;
	width: 1000px;;
	height: 73px;
}

#header_close {
	position: absolute;
	right: 0px;
	top: 5px;
}

#spinner {
	position: absolute;
	right: 0px;
	top: 52px;
}

#logo {
	width: 136px;
	height: 73px;
	background: url(/catalogo/static_server/img/topo-logo.jpg) left top
		no-repeat;
}

#left_section {
	float: left;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

#right {
	width: 820px;
	position: absolute;
	left: 180px;
	padding-top: 15px;
}

#publicidade_menu {
	position: relative;;
	margin-top: 5px;
}

#conteudo_divErros {
	color: #dc0000;
}

#conteudo_divErros ul{
        position: relative;
	vertical-align: middle;
	margin-bottom:5px;
        list-style-image: url(/catalogo/static_server/img/bullets/bt-atencao.gif);
}

.titulo {
	font-size: 11px;
	font-weight: bold;
	color: #0364CB;
	text-transform: uppercase;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.aright {
	text-align: right;
}

.box_top {
	height: 24px;
	position: relative;
}

.box_titulo {
	padding-top: 6px;
	color: #0364CB;
}

.box_top_left {
	height: 24px;
	width: 7px;
	position: absolute;
	left: 0px;;
	top: 0px;
	background: url(/catalogo/static_server/img/background/box-topo-left.gif)
		no-repeat;
}

.box_top_right {
	position: absolute;
	right: 0px;;
	top: 0px;
	height: 24px;
	width: 7px;
	background:
		url(/catalogo/static_server/img/background/box-topo-right.gif)
		no-repeat;
	cursor: pointer;
}

.box_top_center {
	position: relative;
	width: 100% px;
	height: 24px;
	background:
		url(/catalogo/static_server/img/background/box-topo-center.gif)
		repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #0364CB;
	margin-left: 6px;
	padding-top: 5px;
	text-transform: uppercase;
	text-align: left;
}

.box_top_center_erros {
	position: relative;
	width: 100% px;
	height: 24px;
	background:
		url(/catalogo/static_server/img/background/box-topo-center.gif)
		repeat-x;
	font-size: 11px;
	font-weight: bold;
	color: #dc0000;
	margin-left: 6px;
	padding-top: 5px;
	text-transform: uppercase;
	text-align: left;
}

.box_middle {
	position: relative;
	height: 100%;
	width: 100%;
}

.box_middle_center {
	width: 100%;
	position: relative;
}

.box_middle_center_conteudo {
	width: 100%;
	padding-left: 6px;
	padding-right: 6px;
}

.box_middle_left {
	width: 4px;
	height: 100%;
	background:
		url(/catalogo/static_server/img/background/bg-box-middle-left.gif)
		repeat-y;
}

.box_middle_right {
	width: 4px;
	height: 100%;
	background: right
		url(/catalogo/static_server/img/background/bg-box-middle-right.gif)
		repeat-y;
}

div .box_middle_left {
	height: 100%;
}

div .box_middle_right {
	height: 100%;
}

.box_bottom {
	height: 6px;
	position: relative;
}

.box_bottom_center {
	position: relative;
	height: 6px;
	background:
		url(/catalogo/static_server/img/background/popup_box_bottom_center.gif)
		repeat-x;
}

.box_bottom_left {
	height: 7px;
	width: 6px;
	position: absolute;
	left: 0px;;
	top: 0px;
	background: url(/catalogo/static_server/img/background/box_base_left.gif)
		no-repeat;
}

.box_bottom_right {
	height: 6px;
	width: 6px;
	position: absolute;
	right: 0px;;
	top: 0px;
	background:
		url(/catalogo/static_server/img/background/box_base_right.gif)
		no-repeat;
}

.paginacao a.selected {
	text-decoration: none;
	cursor: default;
	font-weight: bold;
}

.paginacao a {
	color: #0364CB;
}

UL.dados-list {
}

.dados-list LI {
	background: url(/catalogo/static_server/img/background/bl-padrao.gif)
		left top no-repeat;
	list-style: none;
	margin: 6px;
	font-size: 11px;
	padding-left:7px;
}

.lblTexto{
	position:relative; margin-left:5px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; color:#0066CC;
	font-weight:bold; white-space: nowrap;
}
.lblNome{
	position:relative; margin-left:5px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; color:#5a5a5a; 
	font-weight:bold; white-space: nowrap;
}

.word-wrap{
	word-break:break-all;
}

.legendaObrigatorio {
	padding: 0px 10px 5px 0px;
	text-align:right;
	color:#f90;
	zoom:1;
}

.help{
	padding-right:25px;
}

.link_manual{
	position:absolute; top:2px; right:4px;
	cursor: help;	
}

.obrigatorio {
	font-weight: bold;
	background: url(/catalogo/static_server/img/background/bg-obrigatorio.gif) right top no-repeat;
}

.obrigatorio2 {
	padding-left: 5px;
	background: url(/catalogo/static_server/img/background/bg-obrigatorio.gif) left top no-repeat;
}

#popup_erros_ul{
	margin-top:0px;
}

.relative {
	position:relative;
}

.fieldset {
	width: 90%; 
	text-align: left; 
	border: 1px solid #7D7D7D; 
	padding: 0px 10px 15px 10px;
}

.fieldset_legend {font-weight:bold;color:#666; font-size: 10px}
.readonly {background-color: #EEEEE0;}
.conteudo_divErros {color: #dc0000;}

/***** Css para as novas p�ginas de manuten��o de produtos **********/
span.required {color:#EEB422;}
.line {clear:both;padding-top:05px}
.linerow {float:left; width:190px}
.linerow select, .linerow input {width:150px}
.linerow .checkbox {border:0px none;}
.linerow a:link{color:#3399ff; text-decoration:underline;}
.linerow a:hover{color:#3399ff; text-decoration:none;}
.span-2 {width:380px}
.span-3 {width:615px}
.bold {font-weight:bold;}
.right {float:right; text-align:right;}
.barra {clear:both}
.line fieldset {padding:02px;}
.line table {margin-top:10px}
.line fieldset legend {font-weight:bold; font-size:11px;color:#0364cb}
.clean {text-align:center; cursor:pointer;}
.clearline{clear:both !important; margin-bottom:10px;}
 #resultadoPesquisaProduto, #editarProdutos,#novoProdutos,#descCategoria,
 #resultadoPesquisaCategoria,#editarCategorias,#editarCategoriasFamilia,#novasCategorias,
 #novasCategoriasFamilia,#pesquisaFamilia,#pesquisaCategoria,#resultadoPesquisaFamilia,#novaFamilia,
 #verCategorias,#alterarFamilia,#alterarCategoria,#detalhesServicos,
 #resultadoPesquisaSolicitacao, #boxServicos,#pesquisaEncargos,#resultadoPesquisaEncargos,
 #pesquisaFinanciamentos,#resultadoPesquisaFinanciamentos,#novosFinanciamentos,
 #alterarFinanciamentos,#gpComercial,#dialog,#novosRelacionamentos,#resultadoPesquisaRelacionamentos,#edit,
 #novaCategoria,#resultadoPesquisaAtributos  {display:none;} 
.secao_conteudo h2 {color:#3399ff; font-size:11px;}
.breadcrumb {margin-bottom:10px; padding:02px;margin-top:10px;clear:both}
.breadcrumb span {color:#3399ff;}
ul.breadcrumb {margin-left:05px;}
ul.breadcrumb li {list-style-type:none;float:left; }
ul.breadcrumb li span {list-style-type:none; font-weight:bold; float:left; }
#verCategorias ul.breadcrumb li {padding-right:10px}
#verCategorias fieldset {border:1px solid #ccc;margin-bottom:10px;}
 ul#conteudos #grupos div.contentGroup {padding:10px 10px 10px 10px; background:#fff;border:1px solid #9bc3ef}
 ul#conteudos #grupos h3 {padding:05px 0px 05px 25px; margin-top:10px}
.conteudo_box_top {}
.legendatable {clear:both;background-color:#eee;width:100%}
.legendatable div {float:left;padding:05px; height:20px}
.legendatable img{vertical-align:middle}
.bold {font-weight:bold}
.iconativo {background: url(/catalogo/static_server/img/bullets/icon-available.png) no-repeat; width:10px;height:08px;cursor:default}
.iconinativo {background: url(/catalogo/static_server/img/bullets/icon-unavailable.png) no-repeat; width:10px;height:08px;cursor:default}
.iconalert {background: url(/catalogo/static_server/img/icons_alerta_naoanimado.gif) no-repeat; width:16px;height:14px;cursor:default}
.iconrelacionamento {background: url(/catalogo/static_server/img/iconerelacionamento.gif) no-repeat; width:14px;height:13px;cursor:pointer}
.iconwait {background: url(/catalogo/static_server/img/bullets/icon-wait.png) no-repeat; width:10px;height:08px;cursor:default}
.clean .left {width:16px !important}
.icon .iconativo, .icon .iconinativo, .icon .iconwait {background-position: 0px 2px;}
#flash {color:red !important;}
.contentGroup fieldset {padding:05px;border:0px none;}
.contentGroup fieldset legend {background:#fff;font-weight:bold;color:#0364cb}
.contentGroup fieldset input {border: 0px none;}

/* Servi�os */
#resultadoPesquisaServicos,#alterarServicos {display:none}
#indicadorDiponibilidade {clear:both;float:left}
#alterarServicos fieldset {clear:both; Width:99%; border:1px solid #ccc}
.contentGroup fieldset.gupoField {background:#fafafa;width:370px !important; float:left !important;clear:none !important;margin-right:10px}
.contentGroup fieldset.gupoField .linerow {width:165px}
.contentGroup fieldset .linerow {width:145px}
#grupos fieldset {background:#fafafa;}
.
/* Servi�os Abas */
div#caixa {display: inline-block;margin-bottom:50px }
div#caixa span#abas {display: inline-block; width: 790px; height: 20px; margin: 0px; padding: 0; overflow: hidden; vertical-align: bottom;}
div#caixa span#abas a {border:1px solid #9bc3ef; width:auto; display: inline-block; font-size: 10px; font-weight: bold; color: gray; text-decoration: none; padding: 03px 26px 12px 26px; margin: 0 5px 0 0; }
div#caixa span#abas a:hover {background-color: #9bc3ef; color: #fff; border-bottom:1px solid #fff}
div#caixa span#abas a.selected {background-color: #9bc3ef; color: #fff; margin-top:1px;}
div#caixa ul#conteudos {display: inline-block;  margin: 0; padding: 0; border: 1px solid #9bc3ef;}
div#caixa ul#conteudos li {display: inline-block;  margin: 10px 20px 10px 20px; padding: 0; overflow: auto;list-style-type:none}
div#caixa ul#conteudos #grupos {clear:both;margin-top:10px}

div#caixa .boxline,.boxline  {float:left !important;height:45px !important}

div#caixa .clear, .clear {clear:both !important;padding:5px 0px 5px 0px}

div#caixa .conteudo_box_top_center,div#caixa .conteudo_box_top,div#caixa .conteudo_box_bottom{width:750px !important}
div#caixa .conteudo_box_middle{border-right:1px solid #9bc3ef !important;}

div#caixa .contentRel .conteudo_box_middle{border:0px none;}
div#caixa .contentRel .conteudo_box_top_center,div#caixa.contentRel .conteudo_box_top,div#caixa .contentRel .conteudo_box_bottom{width:772px !important}
.iconmoredetail{background: url(/catalogo/static_server/img/more_detail.gif) no-repeat; width:17px;height:15px;}
.iconpreco{background: url(/catalogo/static_server/img/price.gif) no-repeat; width:06px;height:11px;}
.iconconfigurargpComercial,.iconconfigurarFinanciamento {background: url(/catalogo/static_server/img/config.gif) no-repeat; width:15px;height:16px;}
.iconFinanciamento{background: url(/catalogo/static_server/img/iconFinanciamento.gif) no-repeat; width:19px;height:21px;}
.iconencargos{background: url(/catalogo/static_server/img/iconEncargos.gif) no-repeat; width:19px;height:21px;}
 .ui-tooltip, .arrow:after {
background: black;
border: 2px solid white;
}
.ui-tooltip {
padding: 10px 20px !important;

width:250px !important;
}
.ui-tooltip label {color: red !important}

.arrow {
width: 70px !important;
height: 16px !important;
overflow: hidden !important;
position: absolute !important;
left: 50% !important;
margin-left: -35px !important;


}

.arrow.top {
top: -16px !important;
bottom: auto !important;
}

/* Css para Ofertas */
.ui-multiselect { padding:0px 0 0px 2px; text-align:left;width:175px !important  }

.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important;}

.ui-multiselect-header { margin-bottom:3px; padding:2px 0 2px 2px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 05px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000; text-align: left }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:0px none ; padding:3px 1px; font-size:0.6 em !important  }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }
.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px; width:50%}
.ui-multiselect-filter input { width:100px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
.iconsolicitacao {background: url(/catalogo/static_server/img/iconsolicitacao.gif) no-repeat; width:15px; height:14px;margin-left:150px;margin-top:-12px;cursor:pointer;}
#novasOfertas .iconsolicitacao,#alterarOfertas .iconsolicitacao{margin-left:160px;margin-top:-18px;}
.pesquisaTipo input {float:left;width:20px}

#optArea,#optgpComercial,#optCNL {float:left;width:15px;border:0px none;}
#novaDisponibilidade,#resultadoPesquisaDispo,#resultadoPesquisaOfertas,#detalheOfertas,
#novasOfertas,#alterarOfertas,#pesquisaSolicitacao,#resultadoPesquisaSolicitacaoPlano,.detalharOfertas {display:none}
