.lblForm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}

.label-form-bold {
	float: left;
	font-weight: bold;
	color: #666;
	width: 150px;
	padding-top: 2px;
	margin-bottom: 10px;
	text-align: right;
} /* Com Tamanho */

.label-form-bold3 { 
	float: left;
	font-weight: bold;
	color: #666;
	padding-top: 2px;
	margin-bottom: 10px;
	text-align: right;
}

.label-form02 {
	float: left;
	font-weight: bold;
	color: #666;
	width: 142px;
	padding-top: 2px;
	padding-right: 5px;
	margin-bottom: 10px;
	text-align: right;
} /* Com Tamanho */

.label-form-bold2 {
	font-weight: bold;
	color: #666;
	padding-top: 2px;
	margin-bottom: 10px;
	text-align: right;
}

.label-form-bold-left {
	float: left;
	font-weight: bold;
	color: #666;
	width: 150px;
	padding-top: 2px;
	margin-bottom: 10px;
	text-align: left;
}

input { padding:2px 0px 0px 1px; height:17px; border:1px solid #7D7D7D; font: 10px Verdana; color:#7D7D7D;} 
select{
	height:17px; border:1px solid #7D7D7D; font: 10px Verdana; color:#7D7D7D;
}

.SemBorda{border:0px;}

.box-dashed {
	border: 1px dashed gray;
	padding: 3px 30px 5px 3px; 
	float: left;
	height: 90px;
	overflow-y: auto;
}

.box-dashed-alt {
	border: 1px dashed gray;
	padding: 3px 30px 5px 3px; 
	float: left;
	height: 30px;
	overflow-y: auto;
} /* Com altura */
