.hidden {display: none}
.valuecheck input, #detalhesServicos input[type=radio] {width: 13px !important; margin-right:03px; border:0px none}
.left {float:left; width:100px}
.iconsolicitacao{margin-top:-17px;margin-left:155px}
.ui-datepicker {font-size:10px !important}
.clear{clear:both;}
.checkbox {border:0px none}
.boxline {float:left}
select {font-size:10px !important}
#caixa ul#conteudos li {margin-left:0px !important;margin-right:0px !important}
#tableServicos,#tableScore,#optDocs,#TabelaFiltro1,#TabelaFiltro2{display:none;}
#tableServicos,#tableScore {margin-top:20px;}
#tableServicos span,#tableScore span {font-weight:bold;margin-bottom:10px; width:100%; }
#documentos,#regraFiltroI,#regraFiltroII {padding:05px}
#TabelaFiltro1 .title, #TabelaFiltro2 .title {font-size:12px; color:#039; font-weight:bold; padding-bottom:10px}
.scroll-pane
{
	width: 797px;
	height: 130px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}

#edicaoIndicadores {margin-top:30px}
DIV#caixa .contentRel #edicaoIndicadores .conteudo_box_top_center  {width:800px !important}
DIV#caixa .contentRel #edicaoIndicadores .conteudo_box_bottom  {width:805px !important}
.conteudo_box_middle_mg {width:797px !important}