

.Logo{
	background:url(/catalogo/static_server/img/background/topo-logo.jpg) no-repeat;
	width:173px;
	height:73px;
	text-indent:-1000px;
	float:left;
}
.txtlabel{
	position:relative; margin-left:5px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; color:#5a5a5a; 
	font-weight:bold; white-space: nowrap;
}

.BgForms ul{
	margin:0px 0px 0px -44px;
	*margin:0px 0px 0px -4px;
}
.BgForms li{	
	list-style:none; 
	padding:2px 0px 0px 0px;
	*padding:1px 0px 0px 0px;	
}
.BgForms .left{
	background:url(/catalogo/static_server/img/background/bg_linha_topo_left.gif) no-repeat top left;
	width:5px;
	height:31px;
	text-indent:inherit;
	vertical-align:middle;
	text-indent:-100px;
	float:left; 
}
.BgForms .meio{
	background:url(/catalogo/static_server/img/background/bg_linha_topo_meio.gif) repeat-x;
	height:31px;
	text-indent:inherit;
	vertical-align:middle;
	float:left; 
}
.BgForms .right{
	background:url(/catalogo/static_server/img/background/bg_linha_topo_rigth.gif) no-repeat;
	width:5px;
	height:31px;	
	text-indent:inherit;
	vertical-align:middle;
	text-indent:-100px;
	float:left;
	padding:0px 5px 0px 0px;
}

.DivBusca{
	margin:0px 5px 0px 5px;
	padding:0px 5px 0px 0px;
}
.DivPesquisa{
	margin:0px 5px 0px 5px;
	padding:0px 5px 0px 0px;
}

.DivTexto{
	padding:3px 0px 0px 0px;
	margin:0px 0px 6px 0px;	
	*margin:0px 0px -4px 0px;
	height:20px;
	float:inherit;
}

/********************************************************/
/**** Tabela header informa��es *************************/
.BgCinza_topoCenter{ background:url(/catalogo/static_server/img/background/bg_info_topo_center.gif) repeat-x top;}
.BgCinza_topoRigth{	background:url(/catalogo/static_server/img/background/bg_info_topo_right.gif) no-repeat top right;}
.BgCinza_topoLeft{ background:url(/catalogo/static_server/img/background/bg_info_topo_left.gif) no-repeat top left;}
.BgCinza_bordaLeft{	background:url(/catalogo/static_server/img/background/bg_info_center_left.gif) repeat-y top left;}
.BgCinza_bordaRight{ background:url(/catalogo/static_server/img/background/bg_info_center_right.gif) repeat-y top right;}
.BgCinza_baseLeft{ 	background:url(/catalogo/static_server/img/background/bg_info_base_left.gif) no-repeat bottom left;}
.BgCinza_baseRight{	background:url(/catalogo/static_server/img/background/bg_info_base_right.gif) no-repeat bottom right;}
.BgCinza_baseCenter{background:url(/catalogo/static_server/img/background/bg_info_base_center.gif) repeat-x bottom;}
/********************************************************/
.DadosCliente{
	width:820px;
	*width:815px;
	height:82px;	
}
.DivInformacaoH3{
	font:bold 13px Verdana; color:#0067D0; 
	margin:0px 10px 0px 10px; 
	*margin:0px 5px 0px 10px; 
	padding:10px 0px 3px 12px;
}

.tabelaDadosCliente01{
	margin:3px 0px 0px 0px;
	width:98%;
}
.tabelaDadosCliente02{
	font:10px Verdana;
	color:#7C7C7C;
	float:left;
	width:auto;
	margin:3px 0px 7px 18px;
	*margin:3px 0px 7px 10px;
}
.tabelaDadosCliente{
	margin:10px 0px 10px 0px;
	clear:both;
}
/********************************************************/
/********************************************************/

.BoxNoticia01{	width:380px; }
.BoxNoticia03{	width:780px; }

