.foto-moldura IMG { border:1px solid #9dc4ed; }
.foto-paginacao { margin-top:5px; text-align:center; }
rolagem-grande { overflow-y:scroll; overflow-x:hidden; height:150px; padding-top:4px; margin-left:10px; margin-right:3px; }