.linerow2 {float:left; width:380px}
.linerow2 select {height: 25px; width:350px}
.ui-multiselect {height: 25px; width:350px !important;padding:03px;}
.ui-multiselect-menu{padding-bottom:10px}
.ui-multiselect-optgroup-label a{font-size:10px !important}