/* MENU */
#menu UL { margin:0; padding:0; }
#menu LI { list-style:none; margin:0; padding:0; }
#menu A { cursor:pointer; }
#menu A.lvl1 { display:block; font-size:11px; font-weight:bold; color:#fff; width:141px; padding:4px 0 6px 10px; background: url(/catalogo/static_server/img/menu/lvl1_off.jpg) no-repeat; text-decoration:none; }

#menu DIV.mn-lvl2 { display:none; margin-left:6px; margin-top:1px; }
#menu .mn-lvl2-base { padding-bottom:3px; background:url(/catalogo/static_server/img/menu/lvl2_on_base.jpg) left bottom no-repeat; }
#menu A.lvl2, #menu A.lvl2-ativo { display:block; font-size:11px; font-weight:bold; color:#787878; margin-top:-1px; padding:3px 19px 1px 9px; background: url(/catalogo/static_server/img/menu/lvl2_on.jpg) no-repeat; text-decoration:none; }

#menu DIV.mn-lvl3 { display:none; font-size:11px; padding-bottom:10px; background:url(/catalogo/static_server/img/menu/bg_lvl3.jpg) left top repeat-y; }
#menu A.lvl3, #menu A.lvl3-ativo { display:block; color:#787878; padding:4px 20px 0 10px; background: url(/catalogo/static_server/img/menu/lvl3_on.gif) left center no-repeat; text-decoration:none; }
#menu A.lvl2-ativo { color:#f8981d; }
#menu A.lvl3-ativo { font-weight:bold; color:#f8981d; }

/* Nome Menu*/
#DivMenu{ background:url(/catalogo/static_server/img/background/bg_conteudo.jpg) repeat-x top; width:174px; *width:170px; float:left;}

/******************************************************************* */

#menu {width: 180px;font:bold 11px Verdana; position: relative;}
#menu p{margin:0; padding:0; position:relative; top:17px;left:23px; }
#menu p{margin-top:-8px}
#menu p.off{width:136px; height:20px; background:url(/catalogo/static_server/img/menu/bgMenu_off.jpg) no-repeat; list-style-position:outside; list-style-type:none; font:bold 11px Verdana; color:#fff; padding:3px 0 0 10px; margin-top:-1px;}
#menu p.off a{color:#fff; text-decoration:none}
#menu p.on{width:136px; height:20px; background:url(/catalogo/static_server/img/menu/bgMenu_on.jpg) no-repeat; list-style-position:outside; list-style-type:none; font:bold 11px Verdana; color:#fff; padding:3px 0 0 10px;margin-top:-1px;}
#menu p.on a{color:#fff; text-decoration:none}
#menu p.sub_ativo  {width:136px; height:19px; background: url(/catalogo/static_server/img/menu/bgSub_menu_on.jpg) no-repeat 7px 0; list-style-position:outside; list-style-type:none; font:bold 11px Verdana; color:#FF9724; padding:3px 0 0 15px;margin-top:0; }
#menu p.sub_ativo a{color:#FF9900; text-decoration:none}
#menu p.sub_inativo{width:136px; height:19px; background: url(/catalogo/static_server/img/menu/bgSub_menu_on.jpg) no-repeat 7px 0; list-style-position:outside; list-style-type:none; font:11px Verdana;      color:#787878; padding:3px 0 0 15px;margin-top:0; }
#menu p.sub_inativo a{color:#787878; text-decoration:none}
#menu .subItem{	margin:25px 0px -25px 0px;}
#menu p.sub_open{width:136px; height:25px; background: url(/catalogo/static_server/img/menu/bgSub_menu_on_2.jpg) no-repeat 7px 0; list-style-position:outside; list-style-type:none; font:10px Verdana; color:#787878; padding:7px 0 0 19px; position:relative; top:-3px; margin-top:-7px; }
#menu p.cima{margin-top:0px; }
#menu p.base{margin-bottom:-7px; }
#menu p.sub_open a{color:#787878; text-decoration:none; }
#menu p.adjBg1 {position:relative; top:-11px;}
#menu p.sub_open a.linkAtivo{color: #FF9900; font-weight:bold}

/******************************************************************* */

#menu ul {margin: 0;padding: 0;list-style-type: none;}
#menu ul li ul {display: none; }
#menu ul li {margin: 0;padding: 0;}
li.menu-item-pai-off{background: transparent url(/catalogo/static_server/img/menu/bgMenu_off.jpg) no-repeat;display: block;}
li.menu-item-pai-off a {background-color:transparent; width:140px;height:22px;padding:3px 0 0 10px;margin-top:-1px;color:#fff;text-decoration: none;}
li.menu-item-pai-on{background: transparent url(/catalogo/static_server/img/menu/bgMenu_on.jpg)  no-repeat;display: block;}
li.menu-item-pai-on a {background-color:transparent; width:144px;height:22px;padding:3px 0 0 10px;margin-top:-1px;color:#fff;text-decoration: none;}
li.menu-item {background: white url(/catalogo/static_server/img/menu/bgSub_menu_on.jpg) no-repeat 7px 0;display: block;font-size: 11px;width:100%;}
li.menu-item a {width:144px;height:19px;padding:3px 0 0 15px;margin-top:0;display: block;color: #787878;}
li.menu-item-ativo {background: white url(/catalogo/static_server/img/menu/bgSub_menu_on.jpg) no-repeat 7px 0;display: block;font-size: 11px;width:100%;}
li.menu-item-ativo a {width:144px;height:20px;padding:3px 0 0 15px;margin-top:0;color:#FF9724;display: block;}
li.menu-item-link {background: url(/catalogo/static_server/img/menu/bgSub_menu_on_2_.jpg) no-repeat 7px bottom;}
li.menu-item-link-ativo {background: url(/catalogo/static_server/img/menu/bgSub_menu_on_2_.jpg) no-repeat 7px bottom;}
li.menu-item-link a {width:180px;min-height:30px;_height:30px;font-weight: normal;display: block;float: none;padding:3px 0 4px 18px;color: #787878;overflow: visible; font:normal; }
li.menu-item-link-ativo a {width:180px;min-height:30px;_height:30px;display: block;padding:3px 0 4px 18px;color:#FF9724; font-weight: bolder; font:normal;  }
