.valuecheck input,#detalhesServicos input [type=radio] {
    width: 13px !important;
    margin-right: 03px;
    border: 0px none
}

.left {
    float: left;
    width: 100px
}

.check {
    float: left;
    width: 135px
}

#dialogOfertas,#alterarComplemento,#detalhesOfertas,#btnnovasOfertas,#pesquisaServicos,#resultadoOfertas,#detalhesServicos,.detalharOfertas,#pesquisaOfertas,#pesquisaServicos2,#resultadoOfertas2,#detalhesServicos2,#enableCNL,#enableArea,#resultadoOfertasComplementares,#resultadoPesquisaOfertasComplementares,#PesquisaOfertasComplementares,#resultadoPesquisaOF,#cloneTable
			  ,#resultadoOfertaComplementar,#pesquisaComplementar,#montarMUN,#munCNL,#listatreeCNL
    {
    display: none
}

.iconsolicitacao {
    margin-top: -17px;;
    margin-left: 155px
}

.ui-datepicker {
    font-size: 10px !important
}

.clear {
    clear: both;
}

.ui-tooltip {
    width: 140px !important;
    background: #eaf4ff;
    color: #ffffff !important;;
    font-weight: bold;;
    border: 1px solid #ccc
}

.ui-multiselect {
    width: 400px !important;;
    padding: 03px;;
    margin-left: 10px
}

.ui-multiselect-optgroup-label a {
    font-size: 11px !important
}

.checkbox {
    border: 0px none
}

.box {
    float: left
}

.listaTipos {
    border-bottom: 1px solid #669;
    height: 150px;
    overflow-y: auto;
}

.listaTipos ul li,.listaTree ul li {
    display: block !important
}

.listaTree ul li {
    padding: 03px 0px 03px 16px !important
}

#resultadoOfertasTO {
    margin-bottom: 20px
}

.listaCNL input {
    width: 20px !important
}
.valuecheck fieldset {width:130px;float:left;margin-left:10px}
.valuecheck fieldset legend{color:#0364cb}
.valuecheck .top {margin-top:13px; }
.valuecheck .bottom, #boxOfertas .bottom {margin-bottom:10px}
.valuecheck .left{margin-left:10px}

.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.treeview ul {
	background-color: white;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(/catalogo/static_server/img/bullets/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(/catalogo/static_server/img/bullets/treeview-default-line.gif) 0 0 no-repeat; }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }

.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }
.treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(/catalogo/static_server/img/bullets/treeview-default.gif); }  
.treeview li.lastCollapsable { background-position: 0 -111px }
.treeview li.lastExpandable { background-position: -32px -67px }

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.treeview-red li { background-image: url(/catalogo/static_server/img/bullets/treeview-red-line.gif); }
.treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(images/treeview-red.gif); } 

.treeview-black li { background-image: url(/catalogo/static_server/img/bullets/treeview-black-line.gif); }
.treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(images/treeview-black.gif); }  

.treeview-gray li { background-image: url(/catalogo/static_server/img/bullets/treeview-gray-line.gif); }
.treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(images/treeview-gray.gif); } 

.treeview-famfamfam li { background-image: url(/catalogo/static_server/img/bullets/treeview-famfamfam-line.gif); }
.treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(images/treeview-famfamfam.gif); } 

.treeview .placeholder {
	background: url(/catalogo/static_server/img/bullets/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(/catalogo/static_server/img/bullets/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(/catalogo/static_server/img/bullets/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(/catalogo/static_server/img/bullets/file.gif) 0 0 no-repeat; }
.info {color: red; padding:05px;text-align:center}
.accordion{cursor:pointer}
#montaraccordion{display:none;cursor:default}
#iconPendenteConfiguracao .left { 
    width:20px !important
}
#msgPendenteConfiguracao {
    color:#930000;
    padding-top:2px;
}
#pesquisaOfertas {
    padding-bottom:5px
} 
.icondep {background: url(/catalogo/static_server/img/bullets/icon-yes.gif) no-repeat; width:10px;height:08px;cursor:default}