.overflow{
	overflow-x: auto;
}
.right{
	position: relative;
	float: right;
}
.red{
	background-color: #FFDDDD ;
}
.barraNovo{
	background-image: url("/catalogo/static_server/img/background/bg-barra.gif");
    background-position: center center;
    background-repeat: repeat-x;
    height: 7px;
    margin-left: -3px;
    margin-right: -11px;
}
.ajuda{
	padding-top: 7px;
	width: 100%;
}
.marginBottomLeftTop632{

	margin-bottom: 6px;
	margin-left: 3px;
	margin-top: 2px;
}
.fieldsetPopup{
    border-color: #87CEEB;
    border-radius: 6px;
    border-width: 1px;
    border-width: 0px\0;
    font-weight: bold;
    min-height: 93%;
    font-size: 11px;
    padding-left: 2px;
    padding-right: 2px;
}
.titlePopup{
	color: #0364CB;
    font-size: 11px;
    font-weight: bold;
    font-color: #0364CB;
    padding-top: 2px;
    position: relative;
    text-transform: uppercase;
}
.tabelaPopup{
	border-collapse: collapse;
	width: 100%;
}
.headPopup{
	background-color: #DCDCDC;
    color: #7D7D7D;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
}
.ufLinha {
	width: 95%;
	float: left;
	padding: 2px;
	cursor: pointer;
}
.linha0{
	background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
}
.even{
	background-color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
	
}
.linha1{
	background-color: #eef7ff;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
}
.odd{
	background-color: #eef7ff;
    font-family: Verdana,Arial,Helvetica;
    font-size: 10px;
}
.coluna25{
	float: left;
	padding-right: 15px;
	width: 25%;
	color: #666666;
    font-weight: bold;
    text-align: right;
}
.coluna75{
 	padding-right: 0px;
    text-align: left;
    width: 70%;
}

.coluna30{
	float: left;
	padding-right: 3px;
	width: 30%;
	color: #666666;
    font-weight: bold;
    text-align: right;
}
.coluna65{
 	padding-right: 0px;
    text-align: left;
    width: 65%;
    float:left;
}

.coluna40{
	float: left;
    width: 46%;
}
.celula{
	float: left;
    margin-top: 1px;
}
.right{
	float: right;
}
.marginRight{
	margin-right: 5px;
}
.selecionado{
	background-color: #E8E8E8;
}
.bt16{
	width: 16px;
	height: 16px;
	float: left;
	padding-right: 3px;
}
.bt24{
	width: 24px;
	height: 24px;
	float: left;
	padding-right: 3px;
}
.btCheck{
	background: url(/catalogo/static_server/img/botoes/cat-check-box.png) no-repeat;
}
.btUncheck{
	background: url(/catalogo/static_server/img/botoes/cat-uncheck.png) no-repeat;
}
.btPlus{
	cursor: pointer;
	background: url(/catalogo/static_server/img/botoes/cat-plus.png) no-repeat;
}
.pointer{
	cursor: pointer;
}
.clear{
	clear: both;	
}
.linhaRegional{
    padding: 3px;
    clear: both;
}
.divUF{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 2px;
    padding: 3px;
}
.divUF:hover{
	background-color: #AFEEEE;
}
.spanNomeRegional{
    float: left;
    font-weight: bold;
    padding-right: 1px;
    padding-top: 5px;
    width: 90px;
}
.paging_full_numbers {
	color: #0364cb;
	cursor: pointer;
	float:left;
	width: 100%;
}
.paginate_active{
	color: default;
	font-weight: bold;
	text-decoration: none;
}
.paging_full_numbers span {
	float:left;
	clear: both;
	width: 100%;
}
.dataTables_info{
	width:100%;
}
.classUF{
	 padding: 5px;
}
.padding-bottom{
	
	padding-bottom:5px;
}
.label-form-bold-custom {
    color: #666666;
    font-weight: bold;
    margin-bottom: 7px;
    padding-top: 2px;
    float: left;
}