#detalhesServicos,#detalhesServicos2 {
	display: none
}

.boxServPromo {
	clear: both;;
	height: 70px;
	margin: 05px 0px 05px 0px;
}

#clone {
	
	border-bottom: 1px solid #9bc3ef
}

.ui-datepicker {
	font-size: 10px !important
}

.icondep {background: url(/catalogo/static_server/img/bullets/icon-yes.gif) no-repeat; width:10px;height:08px;cursor:default}