/* TABELAS  */
.tabela-padrao { width:99%; text-align:center;}
.tbody { display:block; overflow-x:auto; overflow-y:none; }
.tabela-padrao TH {font-weight:normal; font-size:11px; color:#5875A1; background-color:#DFE6F0; border-right:1px solid #fff; text-align:center; }
.tabela-padrao TH div{ font-weight:normal; font-size:11px; color:#5875A1; background-color:#DFE6F0; border-right:1px solid #fff; text-align:center; }
.tabela-padrao TD { font-size:11px; text-align:center; }
.table_header TH{}

.tabela-padrao-new{	width:100%; text-align:center;}
.tabela-padrao-new TH {font-size:11px;font-weight:normal;border-top:4px solid #9bc3ef;border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff; color:#039;}
.tabela-padrao-new TH div{ font-weight:bold; font-size:11px; color:#5875A1;border-right:1px solid #fff; text-align:center; }
.tabela-padrao-new tbody tr TD {background:#eef7ff; border-bottom:1px solid #fff; color:#669; border-top:1px solid transparent; border-left:1px solid #fff; border-right:1px solid #fff; font-size: 11px;}
.tabela-padrao-new tfoot tr td { background: #f7f7f7; font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #6687CE; border: 0px; }
.tabela-padrao-new tbody tr TD a {color:#669;}
.tabela-padrao-new tbody tr TD div.noScroll{width:300px; overflow: hidden; background:#eef7ff; border-bottom:1px solid #fff; color:#669; border-top:1px solid transparent; border-left:1px solid #fff; border-right:1px solid #fff; font-size: 11px;}

.tabela-padrao-menor{	width:100%; text-align:center;}
.tabela-padrao-menor TH {font-size:10px;font-weight:normal;border-top:4px solid #9bc3ef;border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff; color:#039;}
.tabela-padrao-menor TH div{ font-weight:bold; font-size:10px; color:#5875A1;border-right:1px solid #fff; text-align:center; }
.tabela-padrao-menor tbody tr TD {background:#eef7ff; border-bottom:1px solid #fff; color:#669; border-top:1px solid transparent; border-left:1px solid #fff; border-right:1px solid #fff; font-size: 10px;}
.tabela-padrao-menor tfoot tr td { background: #f7f7f7; font-family: Verdana, Arial, Helvetica; font-size: 10px; color: #6687CE; border: 0px; }
.tabela-padrao-menor tbody tr TD a {color:#669;}
.tabela-padrao-menor tbody tr TD div.noScroll{width:300px; overflow: hidden; background:#eef7ff; border-bottom:1px solid #fff; color:#669; border-top:1px solid transparent; border-left:1px solid #fff; border-right:1px solid #fff; font-size: 10px;}

.tablesorter thead tr .header { background:#DFE6F0 url(/catalogo/static_server/img/background/bg.gif) center right no-repeat; cursor: pointer; }
.tablesorter tbody tr { background-color: #fff; }
.tablesorter tbody td { padding-left:5px; color: #3D3D3D; background-color: #fff; text-align: left; }
.tablesorter tbody td a { color: #3D3D3D; background-color: transparent; text-align: left; text-decoration: underline; }
.tablesorter tbody td.center {padding-left:0px; text-align: center; }
.tablesorter th div.headerSortDown { cursor:hand;border: 0px; background:#DFE6F0  url('/catalogo/static_server/img/botoes/bt_seta_down.gif') left no-repeat }
.tablesorter th div.headerSortUp { cursor:hand;border: 0px; background:#DFE6F0  url('/catalogo/static_server/img/botoes/bt_seta_up.gif') left no-repeat }

.zoom { color: #0364cb; padding-right:20px; background: url(/catalogo/static_server/img/botoes/bt-zoom-ico.gif) right center no-repeat; text-decoration:none; }
.zoom:HOVER { text-decoration:underline; }
.update { display:block; padding:7px 0 0 20px; }

.prioritario TD { font-weight:bold; }
table.tablesorter tbody tr.sinalizacao td { color:#f00; }

.barra {
	background-image: url("/catalogo/static_server/img/background/bg-barra.gif");
	background-repeat:repeat-x;
	background-position:center;
	height:7px;
}


/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

th.sortable{
	cursor: pointer;
}

.throwspan {
	border-bottom: 1px solid #fff;
}

.sortdesc {
	background-color:#B9DDFF;
	background-image:url(/catalogo/static_server/img/botoes/bt_seta_down.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.sortasc {
	background-color:#B9DDFF;
	background-image:url(/catalogo/static_server/img/botoes/bt_seta_up.gif);
	background-position: right;
	background-repeat: no-repeat;
}


table.tabelaIcones {
	background: #f7f7f7; 
	font-family: Verdana, Arial, Helvetica; 
	font-size: 10px; 
	color: #6687CE;
	border: 0px;
	width: 99%;
}

tbody tr.odd .tableCellFix {}
.tabela-padrao-new tr.even .tableCellFix,
.tabela-padrao-new tr.even td,
.tabela-padrao-new tr.even {background: #fff}
.DataTables_sort_wrapper span { margin-top:-13px}
.conteudo_box_middle .ui-helper-clearfix {zoom:0 !important;border:0px none !important}

.ui-buttonset .fg-button {margin-left: 5px !important; padding:2px !important}