<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>catalogo</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:/APP-INF/classes/log4j.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jExposeWebAppRoot</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>application</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>   
        <context-param>
        <param-name>application</param-name>
        <param-value>catalogoprs_messages</param-value>
    </context-param>     
    <servlet>
     <servlet-name>action</servlet-name>
     <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
     <init-param>
        <param-name>config</param-name>
        <param-value>/WEB-INF/struts/struts-config.xml, /WEB-INF/struts/struts-config-consulta-acesso.xml, /WEB-INF/struts/struts-config-consulta-fixa-importacao.xml
        , /WEB-INF/struts/struts-config-consulta-fixa-relatorio.xml, /WEB-INF/struts/struts-config-parametrizacao-acesso.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-ofertavendalinha.xml, /WEB-INF/struts/struts-config-consulta-produto-modelo.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-ofertabandalarga.xml, /WEB-INF/struts/struts-config-consulta-produto-restricoes-modelo.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-servico.xml, /WEB-INF/struts/struts-config-parametrizacao-analisecredito-categoria.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-servicosadicionais.xml, /WEB-INF/struts/struts-config-consulta-produto-config-restricao.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-analisecreditolinha.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-modelo.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-analisecreditopriorizar.xml ,/WEB-INF/struts/struts-config-parametrizacao-fixa-gerenciadorderegras.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-grupocomercialagrupador.xml, /WEB-INF/struts/struts-config-parametrizacao-analisecredito-categorizacaoplanoservicoofertacomplementar.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-familiacategoria.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-config-retricao.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-tecnologia.xml, /WEB-INF/struts/struts-config-parametrizacao-fixa-financiamentos.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-fixa-importacao.xml, /WEB-INF/struts/struts-config-parametrizacao-analisecredito-configuracaoanalisecredito.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-matriz-associar-produtos.xml, /WEB-INF/struts/struts-config-parametrizacao-matriz-cadastro.xml
        ,/WEB-INF/struts/struts-config-consultas-servicos-consulta-servicos.xml, /WEB-INF/struts/struts-config-consulta-planos-consultaplanos.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-matriz-importacaotipodematrizecontrato.xml, /WEB-INF/struts/struts-config-parametrizacao-matriz-cadastro-acoes.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-matriz-importacao.xml, /WEB-INF/struts/struts-config-parametrizacao-matriz-ofertasap.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-matriz-itens.xml, /WEB-INF/struts/struts-config-consulta-matriz-importacao.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-planosservicos-restricaoporuf.xml, /WEB-INF/struts/struts-config-parametrizacao-planos_servicos-parametrizacao.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-planosservicos-configuracaodesubsegmento.xml, /WEB-INF/struts/struts-config-parametrizacao-matriz-ofertasdeservicos.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-matriz-produtomatrizoferta.xml, /WEB-INF/struts/struts-config-parametrizacao-pagamento-bandeira.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-pagamento-formasecondicoesdepagamento.xml, /WEB-INF/struts/struts-config-parametrizacao-programapontos-produtos.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-tipodefrequencias.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-associartecnologiatipofrequencia.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-caracteristicas.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-descontos.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-serv-interatividade.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-frequencias.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-produtos.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-formascondicoesdepagamento.xml
        ,/WEB-INF/struts/struts-config-administracao-tradutordeerros-serviconegocio.xml, /WEB-INF/struts/struts-config-parametrizacao-produtos-cadastrodecor.xml
        ,/WEB-INF/struts/struts-config-parametrizacao-produtos-grupo-caracteristicas.xml, /WEB-INF/struts/struts-config-administracao-tradutordeerros-sistemalegado.xml
        ,/WEB-INF/struts/struts-config-administracao-tradutordeerros-errorsenablement.xml,/WEB-INF/struts/struts-config-administracao-tradutordeerros-historico.xml
        ,/WEB-INF/struts/struts-config-administracao-tradutordeerros-erros-cadastrados.xml ,/WEB-INF/struts/struts-config-administracao-tradutordeerros-errocomum.xml</param-value>
     </init-param>
     <init-param>
        <param-name>debug</param-name>
        <param-value>2</param-value>
      </init-param>
      <init-param>
        <param-name>detail</param-name>
        <param-value>2</param-value>
      </init-param>
      <load-on-startup>2</load-on-startup>
    </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
   <session-config>
        <session-timeout>30</session-timeout>
    </session-config> 
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-tiles.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-bean-el-1.1.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-html-el-1.1.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-logic-el-1.1.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-tiles-el.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-tiles-el-1.1.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/ajaxtags.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/ajaxtags.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/displaytag.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/displaytag-el.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/authz.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/authz.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/oscache.tld</taglib-uri>
            <taglib-location>/WEB-INF/tld/oscache.tld</taglib-location>
        </taglib>
    </jsp-config>    
    <ejb-local-ref>
		<ejb-ref-name>ServicoInteratividadeBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.servicointeratividade.ServicoInteratividadeBeanLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>PlataformaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.plataforma.PlataformaBeanLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>CanalAtendimentoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.canalatendimento.CanalAtendimentoBeanLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>FuncionalidadeBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.funcionalidade.FuncionalidadeBeanLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>GrupoCaracteristicaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.grupocaracteristica.GrupoCaracteristicaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>AcaoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.acao.AcaoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CorBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.cor.CorBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ClassificacaoMultimidiaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.classificacaomultimidia.ClassificacaoMultimidiaBeanLocal</local>
	</ejb-local-ref>	
	<ejb-local-ref>
		<ejb-ref-name>ValorCaracteristicaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.valorcaracteristica.ValorCaracteristicaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CaracteristicaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.caracteristica.CaracteristicaBeanLocal</local>
	</ejb-local-ref>	
	<ejb-local-ref>
		<ejb-ref-name>FrequenciaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.frequencia.FrequenciaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>TipoFrequenciaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.tipofrequencia.TipoFrequenciaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>GrupoProdutoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.grupoproduto.GrupoProdutoBeanLocal</local>
	</ejb-local-ref>
		<ejb-local-ref>
		<ejb-ref-name>ImportacaoTipoMatrizContratoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.importacaotipomatriz.ImportacaoTipoMatrizContratoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ContratoMatrizOfertaLockBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.contratomatrizofertalock.ContratoMatrizOfertaLockBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ContratoMatrizOfertaCriticaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.contratomatrizofertacritica.ContratoMatrizOfertaCriticaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CategoriaScoreBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.categoriascore.CategoriaScoreBeanLocal</local>
	</ejb-local-ref>	
	<ejb-local-ref>
		<ejb-ref-name>ClassificacaoCategoriaScoreBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.classificacaocategoriascore.ClassificacaoCategoriaScoreBeanLocal</local>
	</ejb-local-ref>	
	<ejb-local-ref>
		<ejb-ref-name>PlanoCategoriaScoreBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.planocategoriascore.PlanoCategoriaScoreBeanLocal</local>
	</ejb-local-ref>	
	<ejb-local-ref>
		<ejb-ref-name>CategorizacaoAnaliseCreditoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.analisecredito.categorizacao.CategorizacaoAnaliseCreditoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>BandeiraBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.bandeira.BandeiraBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FormaPagamentoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.formapagamento.FormaPagamentoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CanalBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.canal.CanalBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>MeioPagamentoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.meiopagamento.MeioPagamentoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CondicaoPagamentoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.condicapagamento.CondicaoPagamentoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FormaPagamentoBandeiraBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.formapagamentobandeira.FormaPagamentoBandeiraBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FornecedorSCABean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.fornecedorsca.FornecedorSCABeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FabricanteBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.fabricante.FabricanteBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>TipoLinhaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.tipolinha.TipoLinhaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>TipoProdutoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.tipoproduto.TipoProdutoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ProdutoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.produto.ProdutoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>AssociacaoModeloRestricaoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.modelorestricao.AssociacaoModeloRestricaoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ConfiguracaoAnaliseCreditoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.analisecredito.configuracao.ConfiguracaoAnaliseCreditoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>AnaliseCreditoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.analisecredito.AnaliseCreditoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>SrvInteratividadeParamBaseBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.parametro.SrvInteratividadeParamBaseBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>TipoClienteBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.tipocliente.TipoClienteBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>TecnologiaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.tecnologia.TecnologiaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CanalVendaAgrupadorBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.canalvendaagrupador.CanalVendaAgrupadorBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FinanciamentoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.financiamento.FinanciamentoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>FamiliaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.familia.FamiliaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>CategoriaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.categoria.CategoriaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ServicoSolicitacaoComercialBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.servicosolicitacaocomercial.ServicoSolicitacaoComercialBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>DetalheServicoFixaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.detalheservicofixa.DetalheServicoFixaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ServicoFixaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.servicofixa.ServicoFixaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ImportacaoServicoFixaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.importacaoservicofixa.ImportacaoServicoFixaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>RelatorioFixaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.relatoriofixa.RelatorioFixaBeanLocal</local>
	</ejb-local-ref>
		<ejb-local-ref>
		<ejb-ref-name>PlanoServicoUfRestricaoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.planoservicoufrestricao.PlanoServicoUfRestricaoBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>PromocaoFixaBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.promocaofixa.PromocaoFixaBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>DisponibilidadeBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.disponibilidade.DisponibilidadeBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>RegionalBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.regional.RegionalBeanLocal</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>MatrizOfertaProdutoPrecoBean</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>com.indracompany.catalogo.ejb.matrizofertaprodutopreco.MatrizOfertaProdutoPrecoBeanLocal</local>
	</ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OfertafixaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.ofertafixa.OfertafixaBeanLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ServicosAdicionaisBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.servicosadicionais.ServicosAdicionaisBeanLocal</local>
    </ejb-local-ref>
	<ejb-local-ref>
        <ejb-ref-name>GerenciadorRegrasConfiguracaoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.gerenciadorregrasconfiguracao.GerenciadorRegrasConfiguracaoBeanLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>AnaliseCreditoPriorizarBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.analisecreditopriorizar.AnaliseCreditoPriorizarBeanLocal</local>
    </ejb-local-ref>
     <ejb-local-ref>
        <ejb-ref-name>AnaliseCreditoLinhaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.analisecreditolinha.AnaliseCreditoLinhaBeanLocal</local>
    </ejb-local-ref>
     <ejb-local-ref>
        <ejb-ref-name>SegmentoPlanoServicoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.segmentoplanoservico.SegmentoPlanoServicoBeanLocal</local>
    </ejb-local-ref>
     <ejb-local-ref>
        <ejb-ref-name>MatrizOfertaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.indracompany.catalogo.ejb.matrizoferta.MatrizOfertaBeanLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
    	<ejb-ref-name>ModeloBean</ejb-ref-name>
    	<ejb-ref-type>Session</ejb-ref-type>
    	<local>com.indracompany.catalogo.ejb.modelo.ModeloBeanLocal</local>
    </ejb-local-ref>
</web-app>