#
# This file is deprecated
#
# This configuration was left since unsuccess on implementing a JAAS based LDAP authentication provider.
#

LDAP-vivodesenv {
   tyrex.security.ldap.LDAPLoginModule required
		realm="myrealm"
		ldap-url="ldap://10.128.5.72:389/"
		dn-mask="uid=*,ou=People,o=vivodesenv"
		roles-rdn="ou=Roles"
		log-errors=true
		debug=true;
};

LDAP-vivodesenv-ssl {
   tyrex.security.ldap.LDAPLoginModule required
		realm="myrealm"
		ldap-url="ldaps://10.128.5.72:636/"
		dn-mask="uid=*,ou=People,o=vivodesenv"
		roles-rdn="ou=Roles"
		log-errors=true
		debug=true;
};

LDAP-fgomes {
   tyrex.security.ldap.LDAPLoginModule required
		realm="myrealm"
		ldap-url="ldap://spobluis4118.telespcelular.com.br:389/"
		dn-mask="uid=*,ou=people,dc=telespcelular,dc=com,dc=br"
		roles-rdn="ou=Roles"
		log-errors=true
		debug=true;
};

LDAP-fgomes-ssl {
   tyrex.security.ldap.LDAPLoginModule required
		realm="myrealm"
		ldap-url="ldaps://spobluis4118.telespcelular.com.br:636/"
		dn-mask="uid=*,ou=people,dc=telespcelular,dc=com,dc=br"
		roles-rdn="ou=Roles"
		log-errors=true
		debug=true;
};
