<?xml version="1.0" encoding="ISO-8859-1"?>
<!--DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- web-app -->
	<display-name>FrontOfficeWeb</display-name>
	
	<listener>
		<listener-class>com.indracompany.actions.ContextListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>com.indracompany.actions.SessionListener</listener-class>
	</listener>
	
    <filter>
		<filter-name>SessionFilterFO</filter-name>
		<filter-class>br.com.vivo.fo.filter.SessionFilterFO</filter-class>
		<init-param>
			<param-name>forwardTo</param-name>
			<param-value>/session.jsp</param-value>
		</init-param>
	</filter>
	
    <filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>weblogicx.servlet.gzip.filter.GZIPFilter</filter-class>
	</filter>
	
    <filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/admsistemas/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/campanha/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/cliente/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/fidelizacao/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>SessionFilterFO</filter-name>
        <url-pattern>/questionario/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/senha/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>SessionFilterFO</filter-name>
        <url-pattern>/tracking/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/usuario/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>SessionFilterFO</filter-name>
        <url-pattern>/VOLE/*</url-pattern>
    </filter-mapping>

	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/VOLTAV/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SessionFilterFO</filter-name>
		<url-pattern>/workflow/*</url-pattern>
	</filter-mapping>

	<!-- Standard Action Servlet Configuration (with debugging) -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
                /WEB-INF/struts-config.xml,
                /WEB-INF/struts-config-cliente.xml,
                /WEB-INF/struts-config-admsistemas.xml,
                /WEB-INF/struts-config-campanha.xml,
                /WEB-INF/struts-config-fidelizacao.xml,
                /WEB-INF/struts-config-questionario.xml,
                /WEB-INF/struts-config-senha.xml,
                /WEB-INF/struts-config-tracking.xml,
                /WEB-INF/struts-config-usuario.xml,
                /WEB-INF/struts-config-VOLE.xml,
                /WEB-INF/struts-config-VOLTAV.xml, 
                /WEB-INF/struts-config-workflow.xml,
                /WEB-INF/struts-config-extworkflw.xml
            </param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DefaultJspProcessor</servlet-name>
		<servlet-class>weblogic.servlet.JSPServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SimpleChart</servlet-name>
		<servlet-class>com.vivo.servlets.graph.SimpleChart</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ContaOnlineServlet</servlet-name>
		<servlet-class>cliente.TelaInicial.DetalheFatura.ContaOnlineServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>BannerServlet</servlet-name>
	    <servlet-class>VOLTAV.manterBanner.BannerServlet</servlet-class>
	    <load-on-startup>2</load-on-startup>
 	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DefaultJspProcessor</servlet-name>
		<url-pattern>*.defaultjsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DefaultJspProcessor</servlet-name>
		<url-pattern>*.jsp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SimpleChart</servlet-name>
		<url-pattern>/SimpleChart</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ContaOnlineServlet</servlet-name>
		<url-pattern>/ContaOnlineServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
    	<servlet-name>BannerServlet</servlet-name>
    	<url-pattern>/BannerServlet</url-pattern>
  	</servlet-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- handle HTTP Server Errors -->
	<error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/login-denied.html</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error.jsp</location>
	</error-page>

	<!-- Define the NetUI tag library TLDs -->
	<jsp-config>
		<taglib>
			<taglib-uri>netui-tags-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/netui-tags-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>netui-tags-databinding.tld</taglib-uri>
			<taglib-location>/WEB-INF/netui-tags-databinding.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>netui-tags-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/netui-tags-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/vivo-crm.tld</taglib-uri>
			<taglib-location>/WEB-INF/vivo-crm.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/consorcioctrlaccess.tld</taglib-uri>
			<taglib-location>/WEB-INF/consorcioctrlaccess.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/weblogic-tags.tld</taglib-uri>
			<taglib-location>/WEB-INF/weblogic-tags.tld</taglib-location>
		</taglib>
	</jsp-config>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ControleAcessoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.acesso.ControleAcessoFacade</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterSistemaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.manterSistema.ManterSistemaFacade</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ejb/ProtocoloFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.protocolo.ProtocoloFacade</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ejb/TelaInicialFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.telaInicial.TelaInicialFacade</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ejb/TuxedoServiceCall</ejb-ref-name>
		<local>br.com.vivo.fo.atmi.TuxedoServiceCall</local>
	</ejb-local-ref>
	<ejb-local-ref>
		<ejb-ref-name>ejb/JATMI</ejb-ref-name>
		<local>br.com.vivo.fo.atmi.JATMI</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AcaoIncentivoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.acaoIncentivo.AcaoIncentivoFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AcaoIncentivoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.acaoIncentivo.db.AcaoIncentivoDB</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AdmFormularios</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.admFormularios.AdmFormularios</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/Arquivos</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.arquivos.Arquivos</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ArvoreSatisfacao</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.arvoreSatisfacao.ArvoreSatisfacao</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AssociacaoGrupos</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.associacaoGrupos.AssociacaoGrupos</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/CalendarioFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.calendario.CalendarioFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/CampoDinamicoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.campoDinamico.CampoDinamicoFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/CamposFormulario</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.camposFormulario.CamposFormulario</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ClassificadorFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.classificador.ClassificadorFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ArvoreBaixa</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.configArvoreBaixa.ArvoreBaixa</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ArvoreContato</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.configArvoreContato.ArvoreContato</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/GruposProcessosFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.configGruposProcessos.GruposProcessosFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ApoioParametro</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.crud.apoioparametro.ApoioParametro</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ServicosDePara</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.crud.servicosdepara.ServicosDePara</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/DominioFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.dominio.DominioFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/Entrevista</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.entrevista.Entrevista</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Filtros</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.filtros.Filtros</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/FiltrosBxa</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.filtrosBxa.FiltrosBxa</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Link</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.link.Link</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/MotivosFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.motivos.MotivosFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Operadoras</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.operadoras.Operadoras</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/OperadorasBxa</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.operadorasBxa.OperadorasBxa</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/PalitagemFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.palitagem.PalitagemFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/PerfilCRI</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.perfilCRI.PerfilCRI</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/PerfilGrupoCRIContato</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.perfilGrupoCRIContato.PerfilGrupoCRIContato</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/PerfilIDM</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.perfilIDM.PerfilIDM</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/PesquisaSatisfacao</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.pesquisaSatisfacao.PesquisaSatisfacao</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/Questionario</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.questionario.Questionario</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/RelBlindagem</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.relatorios.blindagem.RelBlindagem</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/Retorno</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.retorno.Retorno</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/RetornoCTI</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.retornoCTI.RetornoCTI</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ValorDominioFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.valorDominio.ValorDominioFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/VariaveisArvoreContato</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.admsistemas.variaveisArvoreContato.VariaveisArvoreContato</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/AgendaContatoCmpFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.agendaContato.AgendaContatoCmpFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ArvoreCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.arvore.ArvoreCampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ListaAtendimentoCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.atendimento.ListaAtendimentoCampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConfigurarCampanha</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.configurar.ConfigurarCampanha</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/CopiaPerguntasFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.copia.CopiaPerguntasFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/HistoricoCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.historico.HistoricoCampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ListaCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.lista.ListaCampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/CampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.manter.CampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ApoioFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.manter.ApoioFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/QuestionarioCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.questionario.QuestionarioCampanhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatorioCampanhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.campanha.relatorio.RelatorioCampanhaFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/RelacionarGestor</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.associarGestor.RelacionarGestor</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/GestorDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.associarGestor.db.GestorDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/AtivacaoServicoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.ativacaoServico.AtivacaoServicoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultaHexaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.consultaHexa.ConsultaHexaFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/CorrespondenciaDevolvida</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.correspondenciaDevolvida.CorrespondenciaDevolvida</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/DadosComportamentaisFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.dadosComportamentais.DadosComportamentaisFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/DeviceManagerDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.devicemanager.DeviceManagerDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/DeviceManager</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.devicemanager.DeviceManager</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultasPrePagoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.prePago.ConsultasPrePagoFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/RelacionamentoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.relacionamento.RelacionamentoFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AtendimentoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.atendimento.AtendimentoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/PrePagoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.prePago.PrePagoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/RegistrarContatoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.registrarContato.RegistrarContatoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/TransferirFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.senha.cti.TransferirFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/MonitoramentoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.monitoramento.MonitoramentoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/AparelhoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.AparelhoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/ServicoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.servico.ServicoFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/DetalheFaturaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.telaInicial.detalheFatura.DetalheFaturaFacade</local>
	</ejb-local-ref>	
<!--	<ejb-local-ref>-->
<!--		<ejb-ref-name>ejb/ConsultarLinhaPUPServiceControl</ejb-ref-name>-->
<!--		<local>cliente.TelaInicial.listaPUP.ConsultarLinhaPUPServiceControl</local>-->
<!--	</ejb-local-ref>	-->
<!--	<ejb-local-ref>-->
<!--		<ejb-ref-name>ejb/GravarLinhaPUPServiceControl</ejb-ref-name>-->
<!--		<local>cliente.TelaInicial.listaPUP.GravarLinhaPUPServiceControl</local>-->
<!--	</ejb-local-ref>	-->

<!--	<ejb-local-ref>-->
<!--		<ejb-ref-name>ejb/AparelhoSecurityControl</ejb-ref-name>-->
<!--		<local>cliente.TelaInicial.ConsultaWS.Aparelho.AparelhoSecurityControl</local>-->
<!--	</ejb-local-ref>-->

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManutencaoPrePagoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.prePago.manutencaoPrePago.ManutencaoPrePagoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ProspectFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.prospect.ProspectFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultaSIMLockDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.relatorios.consultaSIMLock.ConsultaSIMLockDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultaSIMLockFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.cliente.relatorios.consultaSIMLock.ConsultaSIMLockFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Fidelizacao</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.Fidelizacao</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/AgendamentoContatoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.AgendamentoContato.AgendamentoContatoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/MatrizAparelhoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.MatrizAparelhoFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/MatrizOfertaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.MatrizOfertaFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/MensagemResultadoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.MensagemResultadoFacade</local>
	</ejb-local-ref>		
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/MigracaoPlanoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.MigracaoPlanoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ParametrizaOferta</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.ParametrizaOferta</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ParcelamentoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.ParcelamentoFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ScriptFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.configurar.ScriptFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/DescontoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.DescontoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterBonusFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.ManterBonusFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterChipFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.ManterChipFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterDefinicaoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.ManterDefinicaoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterOfertasFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.ManterOfertasFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterPlanoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.ManterPlanoFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/RelDescGrupo</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.manter.RelDescGrupo</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/OfertaAparelhoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.OfertaRealizada.OfertaAparelhoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/OfertaRealizadaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.OfertaRealizada.OfertaRealizadaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/AdequacaoPlanoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.realizarRetencao.AdequacaoPlanoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultarOfertaExecaoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.realizarRetencao.ConsultarOfertaExecaoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RalizarRetencaoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.realizarRetencao.RalizarRetencaoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatorioFacadeFid</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.relatorios.RelatorioFacadeFid</local>
	</ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>ejb/RelatoriosFacadeVol</ejb-ref-name>
        <local>br.com.vivo.fo.ctrls.VOLTAV.relatorios.RelatoriosFacadeVol</local>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>ejb/RelatorioFacadeWF</ejb-ref-name>
        <local>br.com.vivo.fo.ctrls.workflow.relatorios.RelatorioFacadeWF</local>
    </ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RetencaoRestricaoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.fidelizacao.retencaoRestricao.RetencaoRestricaoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ScriptQuestionarioFac</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.questionario.ScriptQuestionarioFac</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConsultarHistoricoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.senha.historico.ConsultarHistoricoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/OperarSenhaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.senha.operarSenha.OperarSenhaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/PrevisaoEntrega</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.tracking.previsaoentrega.PrevisaoEntrega</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatoriosTrackingDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.tracking.relatoriosTracking.RelatoriosTrackingDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatoriosTrackingFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.tracking.relatoriosTracking.RelatoriosTrackingFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterGrupoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.manterGrupo.ManterGrupoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterLoteFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.manterLote.ManterLoteFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterUsuarioFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.manterUsuario.ManterUsuarioFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterUsuarioSkillFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.manterUsuarioSkill.ManterUsuarioSkillFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Organograma</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.organograma.Organograma</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/OrganogramaTO</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.organogramaTO.OrganogramaTO</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/BannerDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLE.banner.BannerDB</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/BannerFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLE.banner.BannerFacade</local>
	</ejb-local-ref>	

	<ejb-local-ref>
		<ejb-ref-name>ejb/CampanhasFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.campanhas.CampanhasFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/FaturaFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.fatura.FaturaFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ContaDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.fatura.db.ContaDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/FaturaDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.fatura.db.FaturaDB</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterIphoneFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.iPhone.ManterIphoneFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterIphoneDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.iPhone.db.ManterIphoneDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/MailingFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.mailing.MailingFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Mailing</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.mailing.db.Mailing</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterAcessoTorpedoWebFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterAcessoTorpedoWeb.ManterAcessoTorpedoWebFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterAcessoTorpedoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterAcessoTorpedoWeb.db.ManterAcessoTorpedoDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterAgendamentoVIPFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterAgendamentoVIP.ManterAgendamentoVIPFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterAgendamentoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterAgendamentoVIP.db.ManterAgendamentoDB</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterBannerFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterBanner.ManterBannerFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterDaemonFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterDaemon.ManterDaemonFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/manterDaemonDesativacaoComprovanteEmail</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterDaemonDesativacaoComprovanteEmail.manterDaemonDesativacaoComprovanteEmail</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ConfigurarInSidFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterInSid.ConfigurarInSidFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterMenuFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterMenu.ManterMenuFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterRedirecionamento</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterRedirecionamento.ManterRedirecionamento</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterRedirecionamentoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterRedirecionamento.db.ManterRedirecionamentoDB</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterTerminalFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterTerminal.ManterTerminalFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterTermoAceite</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterTermoAceite.ManterTermoAceite</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterTermoAceiteDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.manterTermoAceite.db.ManterTermoAceiteDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/OrdenarMenuFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.ordenarMenu.OrdenarMenuFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ParceiroSDPDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.parceiroSDP.db.ParceiroSDPDB</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/PontosContatoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.pontosContato.PontosContatoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatorioContatoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.pontosContato.db.RelatorioContatoDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/QuadroAvisoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.quadroAviso.QuadroAvisoFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/QuadroAvisoDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.quadroAviso.db.QuadroAvisoDB</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RelatoriosFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.relatorios.RelatoriosFacadeVol</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/AtendimentoDetalheACSFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.atendimentoDetalheACS.AtendimentoDetalheACSFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/AtendimentoWorkflowFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.atendimentoWorkflow.AtendimentoWorkflowFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/IndicadoresFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.indicadores.IndicadoresFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/NotasURAFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.notasura.NotasURAFacade</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Parametros</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.parametros.Parametros</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/RAtendimento</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.RAtendimento.RAtendimento</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/Router</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.workflow.RouterService.Router</local>
	</ejb-local-ref>

	<ejb-local-ref>
		<ejb-ref-name>ejb/ParceiroSDPFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLTAV.parceiroSDP.ParceiroSDPFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ManterGrupamentoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.VOLE.banner.ManterGrupamentoFacade</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/TokenDB</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.extworkflw.token.db.TokenDB</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/TokenFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.extworkflw.token.TokenFacade</local>
	</ejb-local-ref>	
	
	<ejb-local-ref>
		<ejb-ref-name>ejb/ArquivoManutencaoFacade</ejb-ref-name>
		<local>br.com.vivo.fo.ctrls.usuario.permissaoMassiva.ArquivoManutencaoFacade</local>
	</ejb-local-ref>
	
</web-app>
