#tablePesquisa select {width:210px;}
select.rightSelects {width:250px;}
.checkbox {background:none;border:none}

#tableDadosLinha {
    padding:3px;
    background:#d4d7de;
    margin-bottom:5px;
}
#tableDadosLinha thead {
    background-color:#545454;
    color:red;
}
#tableDadosLinha thead td {
    color:#fff;
    padding:3px;
}
#tableDadosLinha tbody {
    background-color:#fff;
}
#tableMatrizOfertas select {
     width:190px;
     height:84px;
}
#fidelizacaoWrapper .ulListasRetencao {
    list-style-type:none;
    margin:0;
    padding:0
}
#fidelizacaoWrapper .ulListasRetencao li {
    margin-bottom:6px;
}
#divListaAparelhos select {

}